Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules

Tempoarily comment out vs extension pipeline
  Pipelines/devskim-visualstudio.yml
Due: none

Fix nbgv in release pipeline (#395)
  Pipelines/devskim-core.yml
  Pipelines/devskim-visualstudio.yml
Due: none

Trigger build
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleVerifier.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Trigger a build publish (#396)
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleVerifier.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Improve certificate validation rules.
  DevSkim-DotNet/Microsoft.DevSkim/resources/languages.json
  rules/default/security/cryptography/certificate.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Add correctness rule (invalid date format string).
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  rules/default/correctness/datetime.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Add additional dynamic execution rules (plus swift).
  rules/default/security/control_flow/dynamic_execution.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Add comment support for batch files
  DevSkim-DotNet/Microsoft.DevSkim/resources/comments.json
  Pipelines/devskim-vscode.yml
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Improvements to a few rules (#398)
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/resources/comments.json
  DevSkim-DotNet/Microsoft.DevSkim/resources/languages.json
  Pipelines/devskim-vscode.yml
  rules/default/correctness/datetime.json
  rules/default/security/control_flow/dynamic_execution.json
  rules/default/security/cryptography/certificate.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Update application inspector dependency
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessorOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update application inspector dependency (#399)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessorOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Incorporate api test cases directly into rules.
  rules/default/security/api/dangerous_api.json
  rules/default/security/api/deserialization.json
  rules/default/security/api/misused_api.json
  rules/default/security/api/suggested_api.json
  rules/default/security/api/t_sql.json
  rules/default/security/api/tests/DS108330.test
  rules/default/security/api/tests/DS111237.test
  rules/default/security/api/tests/DS121708.test
  rules/default/security/api/tests/DS140021.test
  rules/default/security/api/tests/DS141863.test
  rules/default/security/api/tests/DS154189.test
  rules/default/security/api/tests/DS161085.test
  rules/default/security/api/tests/DS179924.test
  rules/default/security/api/tests/DS181021.test
  rules/default/security/api/tests/DS181731.test
  rules/default/security/api/tests/DS185832.test
  rules/default/security/api/tests/DS224000.test
  rules/default/security/api/tests/DS425000.test
  rules/default/security/api/tests/DS425010.test
  rules/default/security/api/tests/DS425020.test
  rules/default/security/api/tests/DS425030.test
  rules/default/security/api/tests/DS425040.test
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Incorporate Outbound Network Tests
  rules/default/security/attack_surface/outbound_network.json
  rules/default/security/attack_surface/tests/DS137038.test
  rules/default/security/attack_surface/tests/DS137138.test
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Control flow tests
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  rules/default/security/control_flow/dynamic_execution.json
  rules/default/security/control_flow/permission_evelation.json
  rules/default/security/control_flow/tests/DS104456.test
  rules/default/security/control_flow/tests/DS113286.TODO
  rules/default/security/control_flow/tests/DS113853.test
  rules/default/security/control_flow/tests/DS165746.test
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Add frameworks tests
  rules/default/security/frameworks/aspnet5.json
  rules/default/security/frameworks/php.json
  rules/default/security/frameworks/tests/DS144886.test
  rules/default/security/frameworks/tests/DS163877.test
  rules/default/security/frameworks/tests/DS184626.test
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Hygeine tests
  rules/default/security/hygiene/localhost.json
  rules/default/security/hygiene/tests/DS162092.test
  rules/default/security/hygiene/tests/DS176209.test
  rules/default/security/hygiene/todo.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Manual review tests
  rules/default/security/manualreview/dynamiccode.json
  rules/default/security/manualreview/tests/DS113854.test
  rules/default/security/manualreview/tests/DS172411.test
  rules/default/security/manualreview/tests/DS172412.test
  rules/default/security/manualreview/tests/DS189424.test
  rules/default/security/manualreview/zip_slip.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Add privacy tests
  rules/default/security/privacy/device_restrictions.json
  rules/default/security/privacy/secrets.json
  rules/default/security/privacy/tests/DS117838.test
  rules/default/security/privacy/tests/DS165348.test
  rules/default/security/privacy/tests/DS173237.test
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Storage tests
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  rules/default/security/storage/secure_storage.json
  rules/default/security/storage/tests/DS112266.test
  rules/default/security/storage/tests/DS191340.TODO
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

TLS Tests
  rules/default/security/TLS/tests/DS112835.test
  rules/default/security/TLS/tests/DS112836.test
  rules/default/security/TLS/tests/DS112837.test
  rules/default/security/TLS/tests/DS112838.test
  rules/default/security/TLS/tests/DS112839.test
  rules/default/security/TLS/tls_appconfig.json
  rules/default/security/TLS/tls_appcontext.json
  rules/default/security/TLS/tls_functioncall.json
  rules/default/security/TLS/tls_securityprotocol.json
  rules/default/security/TLS/tls_sslprotocol.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Vulnerable libs tests
  rules/default/security/vulnerable_libraries/microsoft_nuget.json
  rules/default/security/vulnerable_libraries/tests/DS300001.test
  rules/default/security/vulnerable_libraries/tests/DS300005.test
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Xml tests
  rules/default/security/xml/external_entities.json
  rules/default/security/xml/tests/DS132779.test
  rules/default/security/xml/tests/DS132780.test
  rules/default/security/xml/tests/DS132790.test
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Add output to validate test to show number of rules with self-tests.
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
Due: none

Create codeql3000.yml
  codeql3000.yml
Due: none

Delete CLI-codeql-analysis.yml
  .github/workflows/CLI-codeql-analysis.yml
Due: none

Delete VS-codeql-analysis.yml
  .github/workflows/VS-codeql-analysis.yml
Due: none

Delete VSCode-codeql-analysis.yml
  .github/workflows/VSCode-codeql-analysis.yml
Due: none

Delete publish-wasm-to-gh-pages.yml
  .github/workflows/publish-wasm-to-gh-pages.yml
Due: none

Delete RunDevSkimVsCode.yml
  .github/workflows/RunDevSkimVsCode.yml
Due: none

Delete RunDevSkimCSharp.yml
  .github/workflows/RunDevSkimCSharp.yml
Due: none

Create codeql3000.yml (#401)
  .github/workflows/CLI-codeql-analysis.yml
  .github/workflows/RunDevSkimCSharp.yml
  .github/workflows/RunDevSkimVsCode.yml
  .github/workflows/VS-codeql-analysis.yml
  .github/workflows/VSCode-codeql-analysis.yml
  .github/workflows/publish-wasm-to-gh-pages.yml
  codeql3000.yml
Due: none

WIP
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Server.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/BicepLanguageServerClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/BicepLanguageServerClientConstants.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/ContentType/BicepConfigContentTypeDefinitionImpl.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/ContentType/BicepConfigContentTypeProvider.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/ContentType/BicepContentTypeDefinitionImpl.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/DidChangeWatchedFilesNotifier.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/Microsoft.DevSkim.VSLanguageServerClient.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/MiddleLayerProviders/AggregatingMiddleLayer.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/MiddleLayerProviders/HandleGotoDefintionMiddleLayer.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/MiddleLayerProviders/HandleSnippetCompletionsMiddleLayer.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/MiddleLayerProviders/UpdateFormatSettingsMiddleLayer.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/ProcessLauncher/ClientProcessLauncher.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/ProcessLauncher/IClientProcess.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/ProcessTracker/IProcessTracker.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/ProcessTracker/IWindowEventsListener.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/ProcessTracker/JobObjectProcessTracker.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/ProcessTracker/NativeMethods.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/ProcessTracker/SafeObjectHandle.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/ProcessTracker/WindowEventArgs.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/ProcessTracker/WindowEventsListener.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/ProcessTracker/WindowsSystemEvents.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/Settings/BicepGuids.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/Settings/BicepLanguageService.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/Settings/BicepSettings.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/Settings/IBicepSettings.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/Settings/IndentType.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/Telemetry/TelemetryCustomMessageTarget.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSLanguageServerClient/packages.lock.json
  DevSkim-DotNet/Microsoft.DevSkim.sln
  DevSkim-VSCode-Plugin/client/extension.ts
  DevSkim-VSCode-Plugin/test.cs
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml
