Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_nix
      displayName: Build Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-visualstudio.yml:
  name: DevSkim_VisualStudio_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_extension
      displayName: Build Visual Studio Extension
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_vscode_plugin
      displayName: Build VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
  ...

Fixed condition handling bug - the VS engine does not find the correct finding-region before searching for the condition pattern. (#153)
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fixed conditions in comments passing bug - conditions no longer pass if there are only matches in comments
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Makes sure each condition is in scope before trying to match it.
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fixed conditions in comments passing bug - conditions no longer pass if there are only matches in comments (#155)
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix #160
  DevSkim-DotNet/Microsoft.DevSkim.Tests/rules/valid/devskim-rules.json
Due: none

Added more C++ file extensions
  DevSkim-DotNet/Microsoft.DevSkim/Resources/languages.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix #162
  rules/default/security/TLS/tls_generic.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Fix other ctime instance.
  rules/default/security/api/dangerous_api.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Fix #160 and #162 (#165)
  DevSkim-DotNet/Microsoft.DevSkim.Tests/rules/valid/devskim-rules.json
  rules/default/security/TLS/tls_generic.json
  rules/default/security/api/dangerous_api.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Setting up CodeQL
  .github/workflows/codeql-analysis.yml
Due: none

Added more C++ file extensions (#163)
  DevSkim-DotNet/Microsoft.DevSkim/Resources/languages.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix #161
  DevSkim-DotNet/Microsoft.DevSkim/Resources/languages.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Parse entire file so VS extension can use region conditions
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Checker/SkimChecker.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SkimShim.cs
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Bugfix
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Checker/SkimChecker.cs
Due: Pipelines/devskim-visualstudio.yml

Fix #161 (#168)
  DevSkim-DotNet/Microsoft.DevSkim/Resources/languages.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix #157 (#169)
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Checker/SkimChecker.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SkimShim.cs
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

If git is present on the path use it to check .gitignore
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SkimShim.cs
Due: Pipelines/devskim-visualstudio.yml

checking for the whole path would fail on windows
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SkimShim.cs
Due: Pipelines/devskim-visualstudio.yml

Create NOTICE.txt
  NOTICE.txt
Due: none

Removed Unneeded README Files
  DevSkim-DotNet/README.md
  DevSkim-VSCode-Plugin/README.md
  DevSkim-VSCode-Plugin/client/README.md
  DevSkim-VSCode-Plugin/server/README.md
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Removed Unneeded README Files (#171)
  DevSkim-DotNet/README.md
  DevSkim-VSCode-Plugin/README.md
  DevSkim-VSCode-Plugin/client/README.md
  DevSkim-VSCode-Plugin/server/README.md
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Create SECURITY.md
  SECURITY.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update README.md
  README.md
Due: none

Update README.md (#172)
  README.md
Due: none

Update Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update extension readme files
  DevSkim-VSCode-Plugin/.vscodeignore
  DevSkim-VSCode-Plugin/README.md
  DevSkim-VSCode-Plugin/readme-gallery.md
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Da/pkg docs (#173)
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-VSCode-Plugin/.vscodeignore
  DevSkim-VSCode-Plugin/README.md
  DevSkim-VSCode-Plugin/readme-gallery.md
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
