Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin

Update devskim-visualstudio.yml for Azure Pipelines
  Pipelines/devskim-visualstudio.yml
Due: none

Update pipelines
  Pipelines/devskim-visualstudio.yml
  Pipelines/devskim-vscode.yml
Due: none

Update devskim-vscode.yml for Azure Pipelines
  Pipelines/devskim-vscode.yml
Due: none

Update devskim-vscode.yml
  Pipelines/devskim-vscode.yml
Due: none

Add Code Signing to Pipelines (#113)
  Pipelines/devskim-core.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/devskim-vscode.yml
Due: none

Update github references, restore media files, update metadata
  CONTRIBUTING.md
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Content/readme-gallery.txt
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/source.extension.vsixmanifest
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/readme-gallery.md
  media/DevSkim-VisualStudio-Demo-1.gif
  media/DevSkim-VisualStudio-Suppression-Example.png
Due: Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Create marketplace_extension_manifest.json
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/marketplace_extension_manifest.json
Due: Pipelines/devskim-visualstudio.yml

Rename VS manifest
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/vs-manifest.json
Due: Pipelines/devskim-visualstudio.yml

Update devskim-core.yml for Azure Pipelines
  Pipelines/devskim-core.yml
Due: none

Add Nuget push task
  Pipelines/devskim-core.yml
Due: none

Add / Standardize License Headers
  DevSkim-VSCode-Plugin/client/src/devskim.settings.ts
  DevSkim-VSCode-Plugin/client/src/document-selectors.ts
  DevSkim-VSCode-Plugin/client/src/extension.ts
  DevSkim-VSCode-Plugin/client/src/util.ts
  DevSkim-VSCode-Plugin/server/__tests__/devskimRules.spec.ts
  DevSkim-VSCode-Plugin/server/__tests__/devskimRules.ts
  DevSkim-VSCode-Plugin/server/__tests__/devskimWorker.spec.ts
  DevSkim-VSCode-Plugin/server/__tests__/devskimWorkerSettings.spec.ts
  DevSkim-VSCode-Plugin/server/__tests__/rulesLoader.spec.ts
  DevSkim-VSCode-Plugin/server/__tests__/suppressions.spec.ts
  DevSkim-VSCode-Plugin/server/src/__mocks__/connection.ts
  DevSkim-VSCode-Plugin/server/src/__mocks__/devskimRules.ts
  DevSkim-VSCode-Plugin/server/src/__mocks__/devskimWorkerSettings.ts
  DevSkim-VSCode-Plugin/server/src/__mocks__/ruleValidator.ts
  DevSkim-VSCode-Plugin/server/src/cli.ts
  DevSkim-VSCode-Plugin/server/src/devskimCLI.ts
  DevSkim-VSCode-Plugin/server/src/devskimLambda.ts
  DevSkim-VSCode-Plugin/server/src/devskimObjects.ts
  DevSkim-VSCode-Plugin/server/src/devskimServer.ts
  DevSkim-VSCode-Plugin/server/src/devskimWorker.ts
  DevSkim-VSCode-Plugin/server/src/devskimWorkerSettings.ts
  DevSkim-VSCode-Plugin/server/src/index.ts
  DevSkim-VSCode-Plugin/server/src/server.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/document.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/git.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/logger.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/output_writers/outputWriter.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/output_writers/results/csvWriter.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/output_writers/results/htmlWriter.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/output_writers/results/sarif21Writer.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/output_writers/results/textWriter.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/output_writers/settings/jsonWriter.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/pathOperations.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/ruleValidator.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/rulesLoader.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/sourceContext.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/suppressions.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Remove unused script.
  pack_rules.ps1
Due: none

Update AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update devskim-visualstudio.yml
  Pipelines/devskim-visualstudio.yml
Due: none

Pipeline Fixes for Deployment (#119)
  Pipelines/devskim-core.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/devskim-vscode.yml
Due: none

Pipeline Fixes Round Two (#120)
  Pipelines/devskim-core.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/devskim-vscode.yml
Due: none
