Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules

Update Directory.Build.props
  Directory.Build.props
Due: none

Update version.json
  version.json
Due: none

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Delete lgtm.yml
  DevSkim-VSCode-Plugin/lgtm.yml
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Finalize CodeQL Workflows
  .github/workflows/CLI-codeql-analysis.yml
  .github/workflows/VS-codeql-analysis.yml
  .github/workflows/VSCode-codeql-analysis.yml
Due: none

Finalize CodeQL Workflows For Real
  .github/workflows/CLI-codeql-analysis.yml
  .github/workflows/VS-codeql-analysis.yml
  .github/workflows/VSCode-codeql-analysis.yml
Due: none

Bump NBGV, CodeQL Setup
  .github/workflows/CLI-codeql-analysis.yml
  .github/workflows/VS-codeql-analysis.yml
  .github/workflows/VSCode-codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
  DevSkim-VSCode-Plugin/lgtm.yml
  Directory.Build.props
  version.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Add test files
  DevSkim-DotNet/Microsoft.DevSkim.CLI/test.txt
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/test.txt
  DevSkim-DotNet/Microsoft.DevSkim/test.txt
  DevSkim-VSCode-Plugin/test.txt
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update devskim-core.yml for Azure Pipelines
  Pipelines/devskim-core.yml
Due: none

Configure Symbol Packaging
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Add packaging NuGet symbols (#182)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  Pipelines/devskim-core.yml
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Create initial dockerfiles
  .dockerignore
  Dockerfile
  Dockerfile.windows
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/false-positive.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update VSCode dependency
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Add WarningInfo setting
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
  DevSkim-VSCode-Plugin/server/src/devskimObjects.ts
  DevSkim-VSCode-Plugin/server/src/devskimServer.ts
  DevSkim-VSCode-Plugin/server/src/devskimWorker.ts
  DevSkim-VSCode-Plugin/server/src/devskimWorkerSettings.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Warnings settings
  DevSkim-VSCode-Plugin/client/src/devskim.settings.ts
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/src/devskimWorker.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix ghost issues
  DevSkim-VSCode-Plugin/server/src/devskimWorker.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

mild clean up
  DevSkim-VSCode-Plugin/server/src/devskimWorker.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix conditionals
  DevSkim-VSCode-Plugin/server/src/devskimObjects.ts
  DevSkim-VSCode-Plugin/server/src/devskimWorker.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/ruleValidator.ts
  rules/default/security/attack_surface/outbound_network.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix build
  DevSkim-VSCode-Plugin/client/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Add F# Equivalents for C# rules
  rules/default/security/TLS/tls_appcontext.json
  rules/default/security/TLS/tls_functioncall.json
  rules/default/security/TLS/tls_win32.json
  rules/default/security/cryptography/certificate.json
  rules/default/security/cryptography/hardcoded_tls.json
  rules/default/security/cryptography/hash_algorithm.json
  rules/default/security/cryptography/protocol.json
  rules/default/security/manualreview/zip_slip.json
  rules/default/security/storage/secure_storage.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Rename rule from CSharp to DotNet
  rules/default/security/manualreview/zip_slip.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Create SUPPORT.md
  SUPPORT.md
Due: none

Enable .NET Rules for F# as well (#187)
  rules/default/security/TLS/tls_appcontext.json
  rules/default/security/TLS/tls_functioncall.json
  rules/default/security/TLS/tls_win32.json
  rules/default/security/cryptography/certificate.json
  rules/default/security/cryptography/hardcoded_tls.json
  rules/default/security/cryptography/hash_algorithm.json
  rules/default/security/cryptography/protocol.json
  rules/default/security/manualreview/zip_slip.json
  rules/default/security/storage/secure_storage.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Rename enable warning info to enableSuppressionInfo
  DevSkim-VSCode-Plugin/client/src/devskim.settings.ts
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/src/devskimObjects.ts
  DevSkim-VSCode-Plugin/server/src/devskimWorker.ts
  DevSkim-VSCode-Plugin/server/src/devskimWorkerSettings.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix Ghost issues and Default Suppressed issue behavior (#186)
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/client/src/devskim.settings.ts
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
  DevSkim-VSCode-Plugin/server/src/devskimObjects.ts
  DevSkim-VSCode-Plugin/server/src/devskimServer.ts
  DevSkim-VSCode-Plugin/server/src/devskimWorker.ts
  DevSkim-VSCode-Plugin/server/src/devskimWorkerSettings.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/ruleValidator.ts
  rules/default/security/attack_surface/outbound_network.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Adds Archive crawling powered by RecursiveExtractor to DevSkim
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Adds Archive crawling powered by RecursiveExtractor to DevSkim (#189)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Compile Regexes for Performance
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/SearchPattern.cs
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml
