Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_nix
      displayName: Build Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-visualstudio.yml:
  name: DevSkim_VisualStudio_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_extension
      displayName: Build Visual Studio Extension
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_vscode_plugin
      displayName: Build VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
  ...

Update dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
Due: none

Fix potential out of range issue if IsBetween was provided an improper index.
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix potential out of range issue if IsBetween was provided an improper index. (#349)
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Limit rule to not apply to rust
  rules/default/security/cryptography/random.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Add rust rules
  rules/default/security/cryptography/random.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Limit rule to not apply to rust (#353)
  rules/default/security/cryptography/random.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Make Linux and Mac Binaries Executable in pipeline
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
Due: none

Temporarily comment out portions not being debugged.
  Pipelines/devskim-core.yml
Due: none

Add Inline
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
Due: none

Revert "Temporarily comment out portions not being debugged."
  Pipelines/devskim-core.yml
Due: none

Bump Dependencies
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  Directory.Build.props
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Revert "Bump Dependencies"
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  Directory.Build.props
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix VS Extension dependencies
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Make Linux and Mac Binaries Executable in pipeline (#356)
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update README.md
  README.md
Due: none

packaging fixes
  DevSkim-VSCode-Plugin/.vscodeignore
  DevSkim-VSCode-Plugin/License.txt
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/client/src/test/completion.test.ts
  DevSkim-VSCode-Plugin/client/src/test/diagnostics.test.ts
  DevSkim-VSCode-Plugin/client/src/test/helper.ts
  DevSkim-VSCode-Plugin/client/src/test/index.ts
  DevSkim-VSCode-Plugin/client/src/test/runTest.ts
  DevSkim-VSCode-Plugin/client/testFixture/completion.txt
  DevSkim-VSCode-Plugin/client/testFixture/diagnostics.txt
  DevSkim-VSCode-Plugin/devskim.ico
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix bundling
  DevSkim-VSCode-Plugin/.vscodeignore
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix package versioning
  DevSkim-VSCode-Plugin/gulpfile.js
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Add VSCE to package.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Clean up Analyze Command
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update extension.ts
  DevSkim-VSCode-Plugin/client/src/extension.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fixes mostly working (off by 1 error on some replacements)
  DevSkim-VSCode-Plugin/client/src/codeFixMapping.ts
  DevSkim-VSCode-Plugin/client/src/extension.ts
  DevSkim-VSCode-Plugin/server/src/codeFixMapping.ts
  DevSkim-VSCode-Plugin/server/src/server.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix off by one error in the end position of a finding on the first line of a file
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Use .NET 6 in codeql pipelines
  .github/workflows/VS-codeql-analysis.yml
  .github/workflows/VSCode-codeql-analysis.yml
Due: none

Add Rule Specific Ignore and Regex Ignore patterns
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Appears to be working.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-VSCode-Plugin/.vscode/launch.json
  DevSkim-VSCode-Plugin/base.tsconfig.json
  DevSkim-VSCode-Plugin/client/src/extension.ts
  DevSkim-VSCode-Plugin/client/tsconfig.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/src/server.ts
  DevSkim-VSCode-Plugin/server/tsconfig.json
  DevSkim-VSCode-Plugin/shared/src/devskimSettings.ts
  DevSkim-VSCode-Plugin/shared/src/notificationNames.ts
  DevSkim-VSCode-Plugin/tsconfig.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

WIP
  DevSkim-VSCode-Plugin/client/src/devskimSettings.ts
  DevSkim-VSCode-Plugin/client/src/extension.ts
  DevSkim-VSCode-Plugin/client/src/notificationNames.ts
  DevSkim-VSCode-Plugin/client/tsconfig.json
  DevSkim-VSCode-Plugin/client/tsconfig.tsbuildinfo
  DevSkim-VSCode-Plugin/scripts/e2e.sh
  DevSkim-VSCode-Plugin/server/src/notificationNames.ts
  DevSkim-VSCode-Plugin/server/src/server.ts
  DevSkim-VSCode-Plugin/server/tsconfig.json
  DevSkim-VSCode-Plugin/server/tsconfig.tsbuildinfo
  DevSkim-VSCode-Plugin/tsconfig.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Create devskimSettings.ts
  DevSkim-VSCode-Plugin/server/src/devskimSettings.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Delete tsconfig.tsbuildinfo
  DevSkim-VSCode-Plugin/client/tsconfig.tsbuildinfo
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Delete tsconfig.tsbuildinfo
  DevSkim-VSCode-Plugin/server/tsconfig.tsbuildinfo
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

update tsconfig
  DevSkim-VSCode-Plugin/base.tsconfig.json
  DevSkim-VSCode-Plugin/server/src/server.ts
  DevSkim-VSCode-Plugin/tsconfig.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix ignore by ruleid
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-VSCode-Plugin/server/src/server.ts
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix launch and build
  DevSkim-VSCode-Plugin/.vscode/launch.json
  DevSkim-VSCode-Plugin/.vscodeignore
  DevSkim-VSCode-Plugin/base.tsconfig.json
  DevSkim-VSCode-Plugin/client/src/extension.ts
  DevSkim-VSCode-Plugin/client/tsconfig.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/tsconfig.json
  DevSkim-VSCode-Plugin/tsconfig.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update rulepacker
  RulePacker/Microsoft.DevSkim.dll
  RulePacker/Microsoft.DevSkim.pdb
  RulePacker/OAT.dll
  RulePacker/RecursiveExtractor.dll
  RulePacker/System.Linq.Async.dll
  RulePacker/devskim.deps.json
  RulePacker/devskim.dll
  RulePacker/devskim.exe
  RulePacker/devskim.pdb
  RulePacker/devskim.runtimeconfig.json
Due: none

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
