Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules

Implement ScanOnSave
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
Due: none

Implement RemoveFindingsOnClose
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/ConfigHelpers.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/StaticScannerSettings.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Remove likely unnecessary task yield from scanOnOpen
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
Due: none

Set Section in ConfigHelpers and refactor
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/ConfigHelpers.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
Due: none

Fix Settings
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/ConfigHelpers.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/StaticScannerSettings.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
Due: none

Fix Ignore Files setting
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/ConfigHelpers.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/StaticScannerSettings.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
Due: none

Genericize list helper
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/ConfigHelpers.cs
Due: none

Update ConfigHelpers.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/ConfigHelpers.cs
Due: none

Clean up settings names
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/ConfigHelpers.cs
  DevSkim-VSCode-Plugin/client/common/devskimSettings.ts
  DevSkim-VSCode-Plugin/client/extension.ts
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Ensure Default DevSkim Processor Options uses DevSkim default langauges
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessorOptions.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Dynamically load document selectors from DevSkim language names from settings
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
Due: none

Add comment explaining why the line numbers are modified
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
Due: none

Fix respecting suppressions
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/ConfigHelpers.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/StaticScannerSettings.cs
  DevSkim-VSCode-Plugin/client/devSkimFixer.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Add xml as language
  DevSkim-DotNet/Microsoft.DevSkim/resources/languages.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update test to work with DevSkim loaded languages file
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
Due: none

Update AppInspector Dependency
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Remove stale TODO
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
Due: none

Adding comments
  DevSkim-VSCode-Plugin/client/common/languagesAccess.ts
  DevSkim-VSCode-Plugin/client/devSkimFixer.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Move Suppression Generation to the Language Server
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/ConfigHelpers.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/StaticScannerSettings.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessorOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim/Suppression.cs
  DevSkim-DotNet/Microsoft.DevSkim/SuppressionStyle.cs
  DevSkim-VSCode-Plugin/client/devSkimFixer.ts
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
Due: none

Update devSkimFixer.ts
  DevSkim-VSCode-Plugin/client/devSkimFixer.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Clean up unused code in VS Code extension
  DevSkim-VSCode-Plugin/client/common/notificationNames.ts
  DevSkim-VSCode-Plugin/client/common/selectors.ts
  DevSkim-VSCode-Plugin/client/devSkimFixer.ts
  DevSkim-VSCode-Plugin/client/extension.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Remove more now unused portions from client
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-VSCode-Plugin/client/common/comments.json
  DevSkim-VSCode-Plugin/client/common/languages.json
  DevSkim-VSCode-Plugin/client/common/languagesAccess.ts
  DevSkim-VSCode-Plugin/client/devSkimFixer.ts
  DevSkim-VSCode-Plugin/client/extension.ts
  DevSkim-VSCode-Plugin/client/tsconfig.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update devskim-vscode.yml
  Pipelines/devskim-vscode.yml
Due: none

Refactor CodeFixMapping
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/CodeFixMapping.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-VSCode-Plugin/client/common/codeFixMapping.ts
  DevSkim-VSCode-Plugin/client/devSkimFixer.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Add JSON to activation events for VS Code Client
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Disable vscode release stage
  Pipelines/devskim-vscode.yml
Due: none

Adds WIP Language Client for Visual Studio
  DevSkim-DotNet/Microsoft.DevSkim.sln
  DevSkim-DotNet/MockLanguageExtension/CustomCommand.cs
  DevSkim-DotNet/MockLanguageExtension/CustomCommandPackage.cs
  DevSkim-DotNet/MockLanguageExtension/CustomCommandPackage.vsct
  DevSkim-DotNet/MockLanguageExtension/FooContentTypeDefinition.cs
  DevSkim-DotNet/MockLanguageExtension/FooLanguageClient.cs
  DevSkim-DotNet/MockLanguageExtension/MockLanguageExtension.csproj
  DevSkim-DotNet/MockLanguageExtension/MockLanguageExtensionSettings.json
  DevSkim-DotNet/MockLanguageExtension/MockLanguageExtensionSettings.pkgdef
  DevSkim-DotNet/MockLanguageExtension/Properties/AssemblyInfo.cs
  DevSkim-DotNet/MockLanguageExtension/Resources/CustomCommand.png
  DevSkim-DotNet/MockLanguageExtension/Resources/CustomCommandPackage.ico
  DevSkim-DotNet/MockLanguageExtension/TestFiles/newname.foo
  DevSkim-DotNet/MockLanguageExtension/TestFiles/test.foo
  DevSkim-DotNet/MockLanguageExtension/VSPackage.resx
  DevSkim-DotNet/MockLanguageExtension/source.extension.vsixmanifest
Due: none

Rewrite pipelines to use template repo
  Pipelines/devskim-cli-debug.yml
  Pipelines/devskim-cli-release.yml
  Pipelines/devskim-visualstudio-debug.yml
  Pipelines/devskim-visualstudio-release.yml
  Pipelines/devskim-vscode-debug.yml
  Pipelines/devskim-vscode-release.yml
Due: none

Remove templates directory
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job-framework.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
Due: none

Run Build stage in parallel with SDL stage
  Pipelines/devskim-vscode-debug.yml
Due: none

Update devskim-vscode-release.yml for Azure Pipelines
  Pipelines/devskim-vscode-release.yml
Due: none

Update devskim-cli-debug.yml for Azure Pipelines
  Pipelines/devskim-cli-debug.yml
Due: none
