Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Pipelines/devskim-cli-debug.yml:
  name: DevSkim_CLI_Debug_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 7.0.x
        dotnetVersionLTS: 6.0.x
        testImage: windows-latest
  ...

Pipelines/devskim-cli-release.yml:
  name: DevSkim_CLI_Release_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 7.0.x
        dotnetVersionLTS: 6.0.x
        testImage: windows-latest
  ...

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: templates/sdl-job.yml
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    jobs:
    - template: templates/dotnet-publish-linux-mac-job.yml
      parameters:
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-debug.yml:
  name: DevSkim_VSCode_Debug_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: sdl-job.yml@templates
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    dependsOn: []
    jobs:
    - job: build_vscode_plugin
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-release.yml:
  name: DevSkim_VSCode_Release_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: sdl-job.yml@templates
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    dependsOn: []
    jobs:
    - job: build_vscode_plugin
  ...

Fixes DevSkim Severity reporting
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fixes DevSkim Severity reporting (#460)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Last update to filter paths...
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vscode/devskim-vscode-pr.yml
Due: none

Pin template repo resource to tag
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Test CLI PR pipeline with custom pool
  Pipelines/cli/devskim-cli-pr.yml
Due: none

Update devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-pr.yml
Due: none

Update pools and template refs
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Test pre-release check in PR
  Pipelines/vscode/devskim-vscode-pr.yml
Due: none

Fix quotes in pre-release check
  Pipelines/vscode/devskim-vscode-pr.yml
Due: none

Remove test pre-release check from PR
  Pipelines/vscode/devskim-vscode-pr.yml
Due: none

Update and enable pre-release check in release pipeline
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Fix RimRaf call with new version
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Update vsce
  DevSkim-VSCode-Plugin/package-lock.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Fix Respecting ignored rules
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/ConfigHelpers.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Update DevSkim Pipelines (#459)
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/devskim-core.yml
  Pipelines/devskim-vscode.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job-framework.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Fix Respecting Ignored Ids in VsCode extension (#461)
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/ConfigHelpers.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Make string arrays render nicely in the vscode settings panel
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/ConfigHelpers.cs
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Update package.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Fix Display in VSCode Settings menu (#462)
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/ConfigHelpers.cs
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Update devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-pr.yml
Due: none

Test re-enabling pool : server
  Pipelines/vscode/devskim-vscode-pr.yml
Due: none

Add condition to not match Base64 encoded certs
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Add condition to not match Base64 encoded certs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Add condition to not match Base64 encoded certs (#465)
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Test action
  .github/workflows/testaction.yml
  scanme/test.cs
Due: none

Update test.cs
  scanme/test.cs
Due: none

wip fixing within operation
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexOperation.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinClause.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinOperation.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Pin to v1.0.3, update validation stage to use template
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Update devskim-vscode-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Test against latest template branch
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/vscode/devskim-vscode-pr.yml
Due: none

Fixes Behavior of Within with multiple clauses
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexOperation.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Client and server now communicate
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ContentTypes.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/source.extension.vsixmanifest
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Add a few options to the options pane
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/OptionPackage.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/OptionPageGrid.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/RuleOptionPageGrid.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/VSPackage.resx
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/source.extension.vsixmanifest
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Delete VSPackage.resx
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/VSPackage.resx
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Update Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Add sane defaults for staticscannersettings
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/StaticScannerSettings.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Tidy main, add comment for the configuration section
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Add TODO markers
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Path conditions:
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-debug.yml: any of: Pipelines/devskim-vscode-debug.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
