Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_nix
      displayName: Build Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-visualstudio.yml:
  name: DevSkim_VisualStudio_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_extension
      displayName: Build Visual Studio Extension
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_vscode_plugin
      displayName: Build VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
  ...

Update Dependencies
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
Due: Pipelines/devskim-visualstudio.yml

Fix dependencies
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Properties/AssemblyInfo.cs
Due: none

Update Node Dependencies (#203)
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix Suppressions Not Being Respected in VS (#202)
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Properties/AssemblyInfo.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Checker/SkimChecker.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SkimShim.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SuppressorEx.cs
  DevSkim-DotNet/Microsoft.DevSkim/Suppression.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update GitHelper.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Utils/GitHelper.cs
Due: Pipelines/devskim-visualstudio.yml

Update RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Begin Devskim OAT Refactor
  DevSkim-DotNet/Microsoft.DevSkim.sln
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Range.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexClause.cs
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinClause.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update OAT and Add FindingOnly support
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinClause.cs
  DevSkim-DotNet/OAT/Analyzer.cs
  DevSkim-DotNet/OAT/Strings.cs
  DevSkim-DotNet/OAT/bin/Debug/netstandard2.0/OAT.dll
  DevSkim-DotNet/OAT/bin/Debug/netstandard2.0/OAT.pdb
  DevSkim-DotNet/OAT/bin/Debug/netstandard2.0/OAT.xml
  DevSkim-DotNet/OAT/bin/Debug/netstandard2.1/OAT.dll
  DevSkim-DotNet/OAT/bin/Debug/netstandard2.1/OAT.pdb
  DevSkim-DotNet/OAT/bin/Debug/netstandard2.1/OAT.xml
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.0/OAT.Version.cs
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.0/OAT.Version.cs.new
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.0/OAT.assets.cache
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.0/OAT.csprojAssemblyReference.cache
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.0/OAT.dll
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.0/OAT.pdb
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.1/OAT.Version.cs
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.1/OAT.Version.cs.new
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.1/OAT.csprojAssemblyReference.cache
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.1/OAT.dll
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.1/OAT.pdb
  DevSkim-DotNet/OAT/obj/OAT.csproj.nuget.dgspec.json
  DevSkim-DotNet/OAT/obj/project.assets.json
  DevSkim-DotNet/OAT/obj/project.nuget.cache
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Add Stub for DevSkimRuleToOatRule
  DevSkim-DotNet/Microsoft.DevSkim/OatRuleHolder.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

rename some fields
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/OatRuleHolder.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/OAT/bin/Debug/netstandard2.0/OAT.deps.json
  DevSkim-DotNet/OAT/bin/Debug/netstandard2.0/OAT.dll
  DevSkim-DotNet/OAT/bin/Debug/netstandard2.0/OAT.pdb
  DevSkim-DotNet/OAT/bin/Debug/netstandard2.1/OAT.deps.json
  DevSkim-DotNet/OAT/bin/Debug/netstandard2.1/OAT.dll
  DevSkim-DotNet/OAT/bin/Debug/netstandard2.1/OAT.pdb
  DevSkim-DotNet/OAT/bin/Debug/netstandard2.1/OAT.xml
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.0/OAT.Version.cs
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.0/OAT.Version.cs.new
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.0/OAT.csproj.FileListAbsolute.txt
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.0/OAT.csprojAssemblyReference.cache
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.0/OAT.dll
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.0/OAT.pdb
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.1/OAT.Version.cs
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.1/OAT.Version.cs.new
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.1/OAT.csproj.FileListAbsolute.txt
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.1/OAT.csprojAssemblyReference.cache
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.1/OAT.dll
  DevSkim-DotNet/OAT/obj/Debug/netstandard2.1/OAT.pdb
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Ignore oat artifacts
  .gitignore
Due: none

Update RuleSet to create ConvertedOatRules automatically
  DevSkim-DotNet/Microsoft.DevSkim/OatRuleHolder.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Clean up usings
  DevSkim-DotNet/Microsoft.DevSkim/OatRuleHolder.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Refactor DevSkimRule References for Clarity
  DevSkim-DotNet/Microsoft.DevSkim/OatRuleHolder.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Use Refactored OAT
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Checker/SkimChecker.cs
  DevSkim-DotNet/Microsoft.DevSkim/Language.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/PatternType.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexOperation.cs
  DevSkim-DotNet/Microsoft.DevSkim/Suppression.cs
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinOperation.cs
  DevSkim-DotNet/OAT/Analyzer.cs
  DevSkim-DotNet/OAT/Clause.cs
  DevSkim-DotNet/OAT/OperationResult.cs
  DevSkim-DotNet/OAT/Operations/ContainsAnyOperation.cs
  DevSkim-DotNet/OAT/Operations/ContainsKeyOperation.cs
  DevSkim-DotNet/OAT/Operations/ContainsOperation.cs
  DevSkim-DotNet/OAT/Operations/EndsWithOperation.cs
  DevSkim-DotNet/OAT/Operations/EqualsOperation.cs
  DevSkim-DotNet/OAT/Operations/GreaterThanOperation.cs
  DevSkim-DotNet/OAT/Operations/IsAfterOperation.cs
  DevSkim-DotNet/OAT/Operations/IsBeforeOperation.cs
  DevSkim-DotNet/OAT/Operations/IsExpiredOperation.cs
  DevSkim-DotNet/OAT/Operations/IsNullOperation.cs
  DevSkim-DotNet/OAT/Operations/IsTrueOperation.cs
  DevSkim-DotNet/OAT/Operations/LessThanOperation.cs
  DevSkim-DotNet/OAT/Operations/OatOperation.cs
  DevSkim-DotNet/OAT/Operations/RegexOperation.cs
  DevSkim-DotNet/OAT/Operations/StartsWithOperation.cs
  DevSkim-DotNet/OAT/Operations/WasModifiedOperation.cs
  DevSkim-DotNet/OAT/Resources.Designer.cs
  DevSkim-DotNet/OAT/Resources.resx
  DevSkim-DotNet/OAT/TypedClauseCapture.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update Oat
  DevSkim-DotNet/OAT/Analyzer.cs
  DevSkim-DotNet/OAT/Clause.cs
  DevSkim-DotNet/OAT/OperationResult.cs
  DevSkim-DotNet/OAT/Operations/ContainsAnyOperation.cs
  DevSkim-DotNet/OAT/Operations/ContainsKeyOperation.cs
  DevSkim-DotNet/OAT/Operations/ContainsOperation.cs
  DevSkim-DotNet/OAT/Operations/EndsWithOperation.cs
  DevSkim-DotNet/OAT/Operations/EqualsOperation.cs
  DevSkim-DotNet/OAT/Operations/GreaterThanOperation.cs
  DevSkim-DotNet/OAT/Operations/IsAfterOperation.cs
  DevSkim-DotNet/OAT/Operations/IsBeforeOperation.cs
  DevSkim-DotNet/OAT/Operations/IsExpiredOperation.cs
  DevSkim-DotNet/OAT/Operations/IsNullOperation.cs
  DevSkim-DotNet/OAT/Operations/IsTrueOperation.cs
  DevSkim-DotNet/OAT/Operations/LessThanOperation.cs
  DevSkim-DotNet/OAT/Operations/OatOperation.cs
  DevSkim-DotNet/OAT/Operations/RegexOperation.cs
  DevSkim-DotNet/OAT/Operations/StartsWithOperation.cs
  DevSkim-DotNet/OAT/Operations/WasModifiedOperation.cs
  DevSkim-DotNet/OAT/Range.cs
  DevSkim-DotNet/OAT/Strings.cs
  DevSkim-DotNet/OAT/TypedClauseCapture.cs
  DevSkim-DotNet/OAT/Violation.cs
Due: none

Remove CLS Compliant markers
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexClause.cs
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexOperation.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Minor fix
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexOperation.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update gitignore
  .gitignore
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Debug/netstandard2.1/Microsoft.DevSkim.Blazor.AssemblyInfo.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Debug/netstandard2.1/Microsoft.DevSkim.Blazor.AssemblyInfoInputs.cache
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Debug/netstandard2.1/Microsoft.DevSkim.Blazor.RazorComponent.input.cache
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Debug/netstandard2.1/Microsoft.DevSkim.Blazor.Version.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Debug/netstandard2.1/Microsoft.DevSkim.Blazor.Version.cs.new
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Debug/netstandard2.1/Microsoft.DevSkim.Blazor.assets.cache
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Debug/netstandard2.1/Microsoft.DevSkim.Blazor.csprojAssemblyReference.cache
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Debug/netstandard2.1/RazorDeclaration/App.razor.g.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Debug/netstandard2.1/RazorDeclaration/Pages/Counter.razor.g.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Debug/netstandard2.1/RazorDeclaration/Pages/FetchData.razor.g.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Debug/netstandard2.1/RazorDeclaration/Pages/Index.razor.g.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Debug/netstandard2.1/RazorDeclaration/Shared/MainLayout.razor.g.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Debug/netstandard2.1/RazorDeclaration/Shared/NavMenu.razor.g.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Debug/netstandard2.1/RazorDeclaration/Shared/SurveyPrompt.razor.g.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Debug/netstandard2.1/RazorDeclaration/_Imports.razor.g.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Microsoft.DevSkim.Blazor.csproj.nuget.dgspec.json
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Microsoft.DevSkim.Blazor.csproj.nuget.g.props
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/Microsoft.DevSkim.Blazor.csproj.nuget.g.targets
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/project.assets.json
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/obj/project.nuget.cache
Due: none

First commit
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Program.cs
Due: none

Update Index.Razor to be runnable
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
Due: none

Refactor Devskim analyze command
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Simple read file in and try to parse
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj.user
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SimpleTextWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Step 1 working.
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.sln
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Add Local Storage for Code and Results
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Results.cs
Due: none

Add ViewCode page
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/FetchData.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/index.html
Due: none

Update ViewCode.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
Due: none

Switch back to nuget
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.sln
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
Due: none

Update NavMenu, Add Report Viewer
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Reports.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Shared/NavMenu.razor
Due: none

Update NavMenu, Reports Page
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Reports.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Shared/NavMenu.razor
Due: none

Fix Results Serialization
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Reports.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Results.cs
Due: none

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
