Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules

Improve OpenSSL Cipher detection (#375)
  Pipelines/templates/nbgv-set-version-steps.yml
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Fix JSON Typo
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Fix JSON Typo (#378)
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Workaround for CWE-755 in Extension
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/VSPackage.cs
Due: Pipelines/devskim-visualstudio.yml

Workaround for CWE-755 in Extension (#386)
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/VSPackage.cs
Due: Pipelines/devskim-visualstudio.yml

WIP refactor
  DevSkim-DotNet/.idea/.idea.Microsoft.DevSkim/.idea/.gitignore
  DevSkim-DotNet/.idea/.idea.Microsoft.DevSkim/.idea/.name
  DevSkim-DotNet/.idea/.idea.Microsoft.DevSkim/.idea/encodings.xml
  DevSkim-DotNet/.idea/.idea.Microsoft.DevSkim/.idea/indexLayout.xml
  DevSkim-DotNet/.idea/.idea.Microsoft.DevSkim/.idea/vcs.xml
  DevSkim-DotNet/Microsoft.DevSkim.AI/CodeFix.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRule.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRuleSet.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/FixType.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/Microsoft.DevSkim.AI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/Microsoft.DevSkim.AI.AssemblyInfo.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/Microsoft.DevSkim.AI.AssemblyInfoInputs.cache
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/Microsoft.DevSkim.AI.GeneratedMSBuildEditorConfig.editorconfig
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/Microsoft.DevSkim.AI.GlobalUsings.g.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/Microsoft.DevSkim.AI.Version.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/Microsoft.DevSkim.AI.Version.cs.new
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/Microsoft.DevSkim.AI.assets.cache
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/Microsoft.DevSkim.AI.csproj.AssemblyReference.cache
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Microsoft.DevSkim.AI.csproj.nuget.dgspec.json
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Microsoft.DevSkim.AI.csproj.nuget.g.props
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Microsoft.DevSkim.AI.csproj.nuget.g.targets
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/project.assets.json
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/project.nuget.cache
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/project.packagespec.json
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/rider.project.restore.info
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.sln
  DevSkim-DotNet/Microsoft.DevSkim.sln
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

WIP Checkin
  DevSkim-DotNet/.gitignore
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRuleProcessorOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRuleVerifier.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRuleVerifierOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRulesVerificationResult.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/Microsoft.DevSkim.AI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/Microsoft.DevSkim.AI.AssemblyInfo.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/Microsoft.DevSkim.AI.AssemblyInfoInputs.cache
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/Microsoft.DevSkim.AI.GeneratedMSBuildEditorConfig.editorconfig
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/Microsoft.DevSkim.AI.GlobalUsings.g.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/Microsoft.DevSkim.AI.Version.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/Microsoft.DevSkim.AI.Version.cs.new
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/Microsoft.DevSkim.AI.assets.cache
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Debug/net6.0/Microsoft.DevSkim.AI.csproj.AssemblyReference.cache
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Microsoft.DevSkim.AI.csproj.nuget.dgspec.json
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Microsoft.DevSkim.AI.csproj.nuget.g.props
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/Microsoft.DevSkim.AI.csproj.nuget.g.targets
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/project.assets.json
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/project.nuget.cache
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/project.packagespec.json
  DevSkim-DotNet/Microsoft.DevSkim.AI/obj/rider.project.restore.info
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommandRefactored.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Bump version for refactor.
  version.json
Due: none

Implement rewritten Analyze Command
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRule.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRuleVerifier.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRuleVerifierOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRulesVerificationResult.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/Issue.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/Microsoft.DevSkim.AI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.AI/Microsoft.DevSkim.AI.csproj.DotSettings
  DevSkim-DotNet/Microsoft.DevSkim.AI/SuppressedIssue.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/Suppression.cs
Due: none

Update DevSkimRuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRuleProcessor.cs
Due: none

Refactor/Recreation of CLI
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/Commands/ICommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/Commands/RootCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/Commands/VerifyCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/ExitCode.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/Microsoft.DevSkim.AI.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/Options/AnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/Writers/DummyWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/Writers/JsonWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/Writers/SimpleTextWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/Writers/Writer.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/Writers/WriterFactory.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRule.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRuleProcessorOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRuleSet.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRuleVerifier.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRuleVerifierOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRulesVerificationResult.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/Issue.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/IssueRecord.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/Microsoft.DevSkim.AI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.AI/Microsoft.DevSkim.AI.csproj.DotSettings
  DevSkim-DotNet/Microsoft.DevSkim.sln
Due: none

Update pipelines to use net6
  Pipelines/devskim-core.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nuget-build-job-framework.yml
  Pipelines/templates/nuget-build-job.yml
Due: none

Adds a new test project for the AI refactor
  .gitignore
  DevSkim-DotNet/.gitignore
  DevSkim-DotNet/.idea/.idea.Microsoft.DevSkim/.idea/.gitignore
  DevSkim-DotNet/.idea/.idea.Microsoft.DevSkim/.idea/.name
  DevSkim-DotNet/.idea/.idea.Microsoft.DevSkim/.idea/encodings.xml
  DevSkim-DotNet/.idea/.idea.Microsoft.DevSkim/.idea/indexLayout.xml
  DevSkim-DotNet/.idea/.idea.Microsoft.DevSkim/.idea/vcs.xml
  DevSkim-DotNet/Microsoft.DevSkim.AI.Tests/DefaultRulesTests.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI.Tests/Microsoft.DevSkim.AI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.AI.Tests/Usings.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/DevSkimRuleSet.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI/Microsoft.DevSkim.AI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.sln
  DevSkim-DotNet/Microsoft.DevSkim.sln.DotSettings.user
Due: none

Don't embed the "test" case files into the binary
  DevSkim-DotNet/Microsoft.DevSkim.AI/Microsoft.DevSkim.AI.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Stop HTTP pattern from matching localhost
  rules/default/security/attack_surface/outbound_network.json
  rules/default/security/attack_surface/tests/DS137138.test
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Add option to CLI to skip git ignored files
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/Options/AnalyzeCommandOptions.cs
Due: none

Add option to skip gathering excerpts
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.AI.CLI/Options/AnalyzeCommandOptions.cs
Due: none

Fix http rule
  Directory.Build.props
  rules/default/security/attack_surface/outbound_network.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Improve capture for http rule to include domain name.
  rules/default/security/attack_surface/outbound_network.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Gitignore cleanup
  .gitignore
  DevSkim-DotNet/Microsoft.DevSkim.sln.DotSettings.user
Due: none

Update solution with renamed project names
  DevSkim-DotNet/Microsoft.DevSkim.sln
Due: none

Comment out Extension pipeline build
  Pipelines/devskim-visualstudio.yml
Due: none

More VS Pipeline
  .github/workflows/VS-codeql-analysis.yml
Due: none

Remove call to removed rulepacker from github workflow
  .github/workflows/VS-codeql-analysis.yml
Due: none

Update VS-codeql-analysis.yml
  .github/workflows/VS-codeql-analysis.yml
Due: none

Fix github workflows
  .github/workflows/CLI-codeql-analysis.yml
  .github/workflows/publish-wasm-to-gh-pages.yml
Due: none

Update README.md
  README.md
Due: none

Add test execution to the core pipeline
  Pipelines/devskim-core.yml
Due: none

Fix disabling VS Extension pipeline
  Pipelines/devskim-visualstudio.yml
Due: none

Update AI dependency for off by one fix
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  rules/default/security/api/dangerous_api.json
  rules/default/security/attack_surface/outbound_network.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Try fix test on linux
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
Due: none

Fix CSProj properties.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/VerifyCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/JsonWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SimpleTextWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/Writer.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/WriterFactory.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Restore readme reference
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix nbgv in release pipeline
  Pipelines/devskim-core.yml
Due: none

Update devskim-core.yml
  Pipelines/devskim-core.yml
Due: none
