Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: templates/sdl-job.yml
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    jobs:
    - template: templates/dotnet-publish-linux-mac-job.yml
      parameters:
  ...

Pipelines/devskim-visualstudio.yml:
  name: DevSkim_VisualStudio_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_extension
      displayName: Build Visual Studio Extension
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: templates/sdl-job.yml
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    jobs:
    - job: build_vscode_plugin
      displayName: Build VSCode Plugin
  ...

Update dependencies
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  Directory.Build.props
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Revert VS extension dependency changes
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
Due: Pipelines/devskim-visualstudio.yml

Update Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
Due: Pipelines/devskim-visualstudio.yml

Update devskim-visualstudio.yml
  Pipelines/devskim-visualstudio.yml
Due: none

Update source.extension.vsixmanifest
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/source.extension.vsixmanifest
Due: Pipelines/devskim-visualstudio.yml

Revert "Update source.extension.vsixmanifest"
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/source.extension.vsixmanifest
Due: Pipelines/devskim-visualstudio.yml

Update Microsoft.DevSkim.VSExtension.csproj (#405)
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
Due: Pipelines/devskim-visualstudio.yml

Update nbgv-set-version-steps.yml
  Pipelines/templates/nbgv-set-version-steps.yml
Due: none

Update devskim-core.yml
  Pipelines/devskim-core.yml
Due: none

Update versioning task during Code Sign stage (#407)
  Pipelines/devskim-core.yml
  Pipelines/templates/nbgv-set-version-steps.yml
Due: none

Update to force CLI rebuild
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Program.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update version.json
  version.json
Due: none

Update Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Program.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix nbgv version.json branch string (#408)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Program.cs
  version.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Create dotnet.yml
  .github/workflows/dotnet.yml
Due: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Due: none

Dont output the BOM as it breaks sarif upload in the action
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Dont output the BOM as it breaks sarif upload in the action (#410)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
