Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Path conditions:
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules

Update devskim-cli-debug.yml for Azure Pipelines
  Pipelines/devskim-cli-debug.yml
Due: Pipelines/devskim-cli-debug.yml

Update devskim-vscode-debug.yml for Azure Pipelines
  Pipelines/devskim-vscode-debug.yml
Due: none

Update devskim-cli-release.yml
  Pipelines/devskim-cli-release.yml
Due: none

Update devskim-visualstudio-debug.yml for Azure Pipelines
  Pipelines/devskim-visualstudio-debug.yml
Due: none

Update devskim-visualstudio-release.yml for Azure Pipelines
  Pipelines/devskim-visualstudio-release.yml
Due: none

Update devskim-cli-debug.yml
  Pipelines/devskim-cli-debug.yml
Due: Pipelines/devskim-cli-debug.yml

Add better TLS Rule for Rust
  rules/default/security/TLS/tls_generic.json
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Fix localhost condition on http:// rule
  rules/default/security/attack_surface/outbound_network.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Fix #456
  rules/default/security/attack_surface/outbound_network.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Add better TLS Rule for Rust (#455)
  rules/default/security/TLS/tls_generic.json
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Update PR triggers
  Pipelines/devskim-cli-release.yml
  Pipelines/devskim-visualstudio-release.yml
  Pipelines/devskim-vscode-release.yml
Due: none

Update pipelines
  Pipelines/devskim-cli-release.yml
  Pipelines/devskim-visualstudio-release.yml
  Pipelines/devskim-vscode-debug.yml
  Pipelines/devskim-vscode-release.yml
Due: none

Fix #456 (#458)
  rules/default/security/attack_surface/outbound_network.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Update NuGet version used in vs extension pipeline
  Pipelines/devskim-visualstudio-debug.yml
  Pipelines/devskim-visualstudio-release.yml
Due: none

Fix localhost condition on http:// rule (#457)
  rules/default/security/attack_surface/outbound_network.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Generate vs code plugin manifests
  Pipelines/devskim-vscode-debug.yml
Due: none

Update to latest antimalware task
  Pipelines/devskim-vscode-debug.yml
  Pipelines/devskim-vscode-release.yml
Due: none

Fix package publish to pipeline
  Pipelines/devskim-vscode-debug.yml
Due: none

Try manual restore
  Pipelines/devskim-vscode-debug.yml
Due: none

Update Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
Due: Pipelines/devskim-cli-debug.yml

Remove nuget tool and manual dotnet restore
  Pipelines/devskim-vscode-debug.yml
Due: none

Try installing dotnet sdk
  Pipelines/devskim-vscode-debug.yml
Due: none

Update devskim-vscode-debug.yml
  Pipelines/devskim-vscode-debug.yml
Due: none

Update pipeline folder structure
  Pipelines/cli/pr/devskim-cli-pr.yml
  Pipelines/cli/release/devskim-cli-release.yml
  Pipelines/vs/pr/devskim-visualstudio-pr.yml
  Pipelines/vs/release/devskim-visualstudio-release.yml
  Pipelines/vscode/pr/devskim-vscode-pr.yml
  Pipelines/vscode/release/devskim-vscode-release.yml
Due: none

VS Code Release Pipeline v.Maybe
  Pipelines/vscode/release/devskim-vscode-release.yml
Due: none

Attempt to fix path filter
  Pipelines/cli/pr/devskim-cli-pr.yml
Due: none

Attempt to fix path filter
  Pipelines/vscode/pr/devskim-vscode-pr.yml
Due: none

Update devskim-vscode-pr.yml
  Pipelines/vscode/pr/devskim-vscode-pr.yml
Due: none

Update devskim-cli-pr.yml
  Pipelines/cli/pr/devskim-cli-pr.yml
Due: none

Update folder structure for pipelines
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Refactor
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Properties/AssemblyInfo.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/source.extension.vsixmanifest
  DevSkim-DotNet/Microsoft.DevSkim.sln
  DevSkim-DotNet/MockLanguageExtension/CustomCommand.cs
  DevSkim-DotNet/MockLanguageExtension/CustomCommandPackage.cs
  DevSkim-DotNet/MockLanguageExtension/CustomCommandPackage.vsct
  DevSkim-DotNet/MockLanguageExtension/FooContentTypeDefinition.cs
  DevSkim-DotNet/MockLanguageExtension/MockLanguageExtension.csproj
  DevSkim-DotNet/MockLanguageExtension/MockLanguageExtensionSettings.json
  DevSkim-DotNet/MockLanguageExtension/MockLanguageExtensionSettings.pkgdef
  DevSkim-DotNet/MockLanguageExtension/Resources/CustomCommand.png
  DevSkim-DotNet/MockLanguageExtension/Resources/CustomCommandPackage.ico
  DevSkim-DotNet/MockLanguageExtension/TestFiles/newname.foo
  DevSkim-DotNet/MockLanguageExtension/TestFiles/test.foo
  DevSkim-DotNet/MockLanguageExtension/VSPackage.resx
  DevSkim-DotNet/MockLanguageExtension/source.extension.vsixmanifest
Due: Pipelines/devskim-cli-debug.yml

Make pipes optional
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
Due: Pipelines/devskim-cli-debug.yml

Add Command Line parser
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.sln
Due: Pipelines/devskim-cli-debug.yml
