Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: templates/sdl-job.yml
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    jobs:
    - template: templates/dotnet-publish-linux-mac-job.yml
      parameters:
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: templates/sdl-job.yml
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    jobs:
    - job: build_vscode_plugin
      displayName: Build VSCode Plugin
  ...

CLI: output-format always required even if defaulted (#430)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SimpleTextWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Minor fixes in the comment suppression.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Minor fixes in the comment suppression. (#431)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fixing Rules to apply + Support for CRLF and LF
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/SuppressionCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/Suppression.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update VSCE and Json5 deps
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/package-lock.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update ts-loader
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Switch to ReadAllLines
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Remove extraneous suppression matching check
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Minor fixes in suppression command (#438)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/SuppressionCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/Suppression.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update Directory.Build.props
  Directory.Build.props
Due: none

Updates dependencies in DevSkim-DotNet
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update VSCE and Json5 deps (#439)
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
  Directory.Build.props
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Remove deprecated launch configs
  DevSkim-VSCode-Plugin/.vscode/launch.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update .gitignore
  DevSkim-VSCode-Plugin/.gitignore
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Move versioning scripts into folder
  DevSkim-VSCode-Plugin/scripts/resetPackageVersion.js
  DevSkim-VSCode-Plugin/scripts/setPackageVersion.js
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Rename base tsconfig
  DevSkim-VSCode-Plugin/tsconfig.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update package.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update common references
  DevSkim-VSCode-Plugin/client/devSkimFixer.ts
  DevSkim-VSCode-Plugin/client/extension.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Move common under client
  DevSkim-VSCode-Plugin/client/common/codeFixMapping.ts
  DevSkim-VSCode-Plugin/client/common/comments.json
  DevSkim-VSCode-Plugin/client/common/devskimSettings.ts
  DevSkim-VSCode-Plugin/client/common/languages.json
  DevSkim-VSCode-Plugin/client/common/languagesAccess.ts
  DevSkim-VSCode-Plugin/client/common/notificationNames.ts
  DevSkim-VSCode-Plugin/client/common/selectors.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update tsconfigs
  DevSkim-VSCode-Plugin/client/tsconfig.json
  DevSkim-VSCode-Plugin/tsconfig.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update to latest AI rules engine
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  Directory.Build.props
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix test
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
Due: none

Add options to analyze to specify ruleids
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleSet.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update nbgv
  Directory.Build.props
Due: none

Adds ability to specify comments and languages
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix server module path
  DevSkim-VSCode-Plugin/client/extension.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fixes
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/WriterFactory.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimLanguages.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Remove stale comment
  DevSkim-VSCode-Plugin/client/extension.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update .gitignore
  .gitignore
Due: none

Add options to analyze to specify ruleids (#445)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleSet.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  Directory.Build.props
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix respecting custom languages
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/VerifyCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/VerifyCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/PathHelper.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Add User specified Languages and Comments (#446)
  .gitignore
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/VerifyCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/VerifyCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/WriterFactory.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/PathHelper.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimLanguages.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Run vscode prelaunch by task label
  DevSkim-VSCode-Plugin/.vscode/launch.json
  DevSkim-VSCode-Plugin/.vscode/tasks.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Configure vscode launch settings in root dir
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

Resolve server module path via join
  DevSkim-VSCode-Plugin/client/extension.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Use absolute path for server module
  DevSkim-VSCode-Plugin/client/extension.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Add option to trace client/server communications
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix Path/Filename when creating fileentry for single file
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
