Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_nix
      displayName: Build Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-visualstudio.yml:
  name: DevSkim_VisualStudio_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_extension
      displayName: Build Visual Studio Extension
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_vscode_plugin
      displayName: Build VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
  ...

Update pipelines.
  Pipelines/devskim-core.yml
  Pipelines/devskim-sdl.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/devskim-vscode.yml
Due: none

Fix version.json
  version.json
Due: none

s/master/main
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/rules/invalid/invalid_todo.json
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Tagging/DevSkimToolTip.xaml.cs
  DevSkim-VSCode-Plugin/client/CHANGELOG.md
  DevSkim-VSCode-Plugin/client/src/extension.ts
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/src/__mocks__/devskimWorkerSettings.ts
  DevSkim-VSCode-Plugin/server/src/devskimWorkerSettings.ts
  SUPPORT.md
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

FSharp rules
  rules/default/security/TLS/tls_securityprotocol.json
  rules/default/security/TLS/tls_sslprotocol.json
  rules/default/security/api/deserialization.json
  rules/default/security/cryptography/ciphers.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Add GitIgnore support to VSExtension
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Options/OptionsDialogPageControl.xaml
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Settings.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SkimShim.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Utils/ExternalCommandRunner.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Utils/GitHelper.cs
Due: Pipelines/devskim-visualstudio.yml

Finish gitignore
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Options/OptionsDialogPage.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SkimShim.cs
Due: Pipelines/devskim-visualstudio.yml

By default ignore gitignored files
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Settings.cs
Due: Pipelines/devskim-visualstudio.yml

Update Pipeline with Templates
  Pipelines/devskim-core.yml
  Pipelines/devskim-sdl.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/devskim-vscode.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
Due: none

Add Pipelines to PR paths
  Pipelines/devskim-core.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/devskim-vscode.yml
Due: none

Update Pipeline with Templates (#194)
  Pipelines/devskim-core.yml
  Pipelines/devskim-sdl.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/devskim-vscode.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
Due: none

Update devskim-core.yml
  Pipelines/devskim-core.yml
Due: none

Update Release Folder Paths
  Pipelines/devskim-core.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
Due: none

Fix Path rooting to create valid Uris
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Add Github action
  GitHubAction/Dockerfile
  GitHubAction/README.md
  GitHubAction/action.yml
  GitHubAction/entrypoint.sh
Due: none

Ignore files in GitIgnore (#192)
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Options/OptionsDialogPage.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Options/OptionsDialogPageControl.xaml
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Settings.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SkimShim.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Utils/ExternalCommandRunner.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Utils/GitHelper.cs
Due: Pipelines/devskim-visualstudio.yml

Create devskim-ci.yml
  .github/workflows/devskim-ci.yml
Due: none

Update devskim-ci.yml
  .github/workflows/devskim-ci.yml
Due: none

Fix Crash when attempting to read unreadable files.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update to Sarif 2 SDK
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/Writer.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fixes for Sarif SDK 2.3
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SimpleTextWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/Writer.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/WriterFactory.cs
  DevSkim-DotNet/Microsoft.DevSkim/IssueRecord.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update Sarif SDK (#197)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SimpleTextWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/Writer.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/WriterFactory.cs
  DevSkim-DotNet/Microsoft.DevSkim/IssueRecord.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Improve readability of sarifwriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix Output file inadvertently being opened before sarif log could save there.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix Output file inadvertently being opened before sarif log could save there. (#199)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix populating suppressed issues in the UX
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Checker/SkimChecker.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Overload in the GUI, not the default.
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SkimShim.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fixes Lines using previous line suppression inappropriately
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SuppressorEx.cs
  DevSkim-DotNet/Microsoft.DevSkim/Suppression.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update Node Dependencies
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
