Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules

Add correct comment styles and support both line and block suppressions
  DevSkim-VSCode-Plugin/client/src/comments.json
  DevSkim-VSCode-Plugin/client/src/devskimSettings.ts
  DevSkim-VSCode-Plugin/client/src/extension.ts
  DevSkim-VSCode-Plugin/client/src/languages.json
  DevSkim-VSCode-Plugin/client/tsconfig.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/src/server.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Add rule packing to build
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

New build instructions
  DevSkim-VSCode-Plugin/README.md
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update package.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update readme
  DevSkim-VSCode-Plugin/README.md
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Try fix pipeline
  .github/workflows/VSCode-codeql-analysis.yml
Due: none

Fix
  .github/workflows/VSCode-codeql-analysis.yml
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix loading comments and languages.
  DevSkim-DotNet/Microsoft.DevSkim.Tests/LanguageTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Tagging/DevSkimToolTip.xaml.cs
  DevSkim-DotNet/Microsoft.DevSkim/Comment.cs
  DevSkim-DotNet/Microsoft.DevSkim/Language.cs
  DevSkim-DotNet/Microsoft.DevSkim/Resources/comments.json
  DevSkim-VSCode-Plugin/client/src/comments.json
  DevSkim-VSCode-Plugin/client/src/extension.ts
  DevSkim-VSCode-Plugin/client/src/languages.json
  DevSkim-VSCode-Plugin/client/src/languagesAccess.ts
  DevSkim-VSCode-Plugin/client/tsconfig.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/tsconfig.json
  DevSkim-VSCode-Plugin/tsconfig.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update VSCode-codeql-analysis.yml
  .github/workflows/VSCode-codeql-analysis.yml
Due: none

fix pipelines
  DevSkim-VSCode-Plugin/package.json
  Pipelines/devskim-vscode.yml
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Bump to 0.7
  version.json
Due: none

Rename the language json property in comments to be languages.
  DevSkim-DotNet/Microsoft.DevSkim/Comment.cs
  DevSkim-DotNet/Microsoft.DevSkim/Resources/comments.json
  DevSkim-VSCode-Plugin/client/src/languagesAccess.ts
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix pipeline
  DevSkim-DotNet/.gitignore
  Pipelines/devskim-core.yml
  Pipelines/templates/nbgv-set-version-steps.yml
Due: none

Fix insecure url
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Shared/MainLayout.razor
Due: none

Remove gulp dependency.
  DevSkim-VSCode-Plugin/gulpfile.js
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/resetPackageVersion.js
  DevSkim-VSCode-Plugin/setPackageVersion.js
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Generate the fixes in one place in the CLI
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Tester.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/JsonWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim/DigestedFix.cs
  DevSkim-DotNet/Microsoft.DevSkim/Issue.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-VSCode-Plugin/client/src/codeFixMapping.ts
  DevSkim-VSCode-Plugin/client/src/devSkimFixer.ts
  DevSkim-VSCode-Plugin/client/src/extension.ts
  DevSkim-VSCode-Plugin/client/src/selectors.ts
  DevSkim-VSCode-Plugin/server/src/codeFixMapping.ts
  DevSkim-VSCode-Plugin/server/src/issue.ts
  DevSkim-VSCode-Plugin/server/src/server.ts
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Split CLI to fix blazor build issue
  .vscode/launch.json
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/App.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj.user
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Reports.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Properties/launchSettings.json
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/_Imports.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/index.html
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/service-worker.js
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/service-worker.published.js
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Catalogue.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Commands/CatalogueCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Commands/ICommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Commands/PackCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Commands/RootCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Commands/TestCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Commands/VerifyCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/ErrorMessage.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/ExceptionLogger.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Globals.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Microsoft.DevSkim.CLI.Commands.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Tester.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Verifier.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Writers/DummyWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Writers/JsonWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Writers/SimpleTextWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Writers/Writer.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Writers/WriterFactory.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Properties/launchSettings.json
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SimpleTextWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.sln
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-VSCode-Plugin/client/src/devSkimFixer.ts
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Revert langversion to be compatible with VS 2019
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Add some property shortcuts to their old position on the ruleprocessor to the options object
  DevSkim-DotNet/Microsoft.DevSkim.Tests/UseCaseTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Shared/Checker/SkimChecker.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Shared/Suggestions/FixSuggestedAction.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Shared/Suggestions/SuggestedActionsSource.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Shared/Suggestions/SuppressSuggestedAction.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Shared/VSPackage.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.Devskim.VSExtension.csproj.user
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Restore behavior to build in launch.json
  .vscode/launch.json
  .vscode/tasks.json
  DevSkim-VSCode-Plugin/.gitignore
  DevSkim-VSCode-Plugin/.vscode/launch.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Adds online (optional) check to see if guidance exists for rules
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Commands/VerifyCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Verifier.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Properties/launchSettings.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Add online check support to pack command.
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Commands/Commands/PackCommand.cs
Due: none

Fix issue with fixes applying to wrong portion
  DevSkim-VSCode-Plugin/client/src/devSkimFixer.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Refactor to share code.
  DevSkim-VSCode-Plugin/.gitignore
  DevSkim-VSCode-Plugin/.vscode/launch.json
  DevSkim-VSCode-Plugin/.vscodeignore
  DevSkim-VSCode-Plugin/base.tsconfig.json
  DevSkim-VSCode-Plugin/client/devSkimFixer.ts
  DevSkim-VSCode-Plugin/client/extension.ts
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/client/src/codeFixMapping.ts
  DevSkim-VSCode-Plugin/client/tsconfig.json
  DevSkim-VSCode-Plugin/common/codeFixMapping.ts
  DevSkim-VSCode-Plugin/common/devskimSettings.ts
  DevSkim-VSCode-Plugin/common/languagesAccess.ts
  DevSkim-VSCode-Plugin/common/notificationNames.ts
  DevSkim-VSCode-Plugin/common/selectors.ts
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/issue.ts
  DevSkim-VSCode-Plugin/server/server.ts
  DevSkim-VSCode-Plugin/server/src/codeFixMapping.ts
  DevSkim-VSCode-Plugin/server/src/devskimSettings.ts
  DevSkim-VSCode-Plugin/server/src/notificationNames.ts
  DevSkim-VSCode-Plugin/server/tsconfig.json
  DevSkim-VSCode-Plugin/tsconfig.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

comments and languages loaded from json.
  DevSkim-VSCode-Plugin/base.tsconfig.json
  DevSkim-VSCode-Plugin/common/comments.json
  DevSkim-VSCode-Plugin/common/languages.json
  DevSkim-VSCode-Plugin/common/languagesAccess.ts
  DevSkim-VSCode-Plugin/package-lock.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Add SBOM generation
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/nuget-build-job-framework.yml
  Pipelines/templates/nuget-build-job.yml
Due: none

Add SBOM for vscode
  Pipelines/devskim-vscode.yml
Due: none

Ignore vscode csproj user settings
  .gitignore
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj.user
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update .gitignore
  .gitignore
Due: none

Update inclusive language.
  DevSkim-VSCode-Plugin/client/CHANGELOG.md
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update inclusive language. (#373)
  DevSkim-VSCode-Plugin/client/CHANGELOG.md
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Improve OpenSSL Cipher detection
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Update tool update not install for nbgv
  Pipelines/templates/nbgv-set-version-steps.yml
Due: none

Separate Open SSL Constants and OpenSSL external call.
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml
