Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: templates/sdl-job.yml
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    jobs:
    - template: templates/dotnet-publish-linux-mac-job.yml
      parameters:
  ...

Pipelines/devskim-visualstudio.yml:
  name: DevSkim_VisualStudio_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_extension
      displayName: Build Visual Studio Extension
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: templates/sdl-job.yml
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    jobs:
    - job: build_vscode_plugin
      displayName: Build VSCode Plugin
  ...

Adds Dry Run option to Fix command (#421)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/FixCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/FixCommandOptions.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix dependencies in vscode extension in main
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Finish replacing gulp dependency
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/resetPackageVersion.js
  DevSkim-VSCode-Plugin/setPackageVersion.js
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Bump dependencies on VS Code Extension (#422)
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/resetPackageVersion.js
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
  DevSkim-VSCode-Plugin/setPackageVersion.js
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Language server
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim.sln
Due: none

Fix dependencies and framework versions
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-VSCode-Plugin/client/extension.ts
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update VSCE
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update vsce
  DevSkim-VSCode-Plugin/package-lock.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update binary name.
  DevSkim-VSCode-Plugin/client/extension.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fixes return code with version or help
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Program.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Add an exit code for argument parsing error
  DevSkim-DotNet/Microsoft.DevSkim.CLI/ExitCode.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Program.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fixes return code with version or help (#424)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/ExitCode.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Program.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

docs: correct typo in URL
  guidance/DS137138.md
Due: none

docs: correct typo in URL (#425)
  guidance/DS137138.md
Due: none

Adding Suppression command.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/SuppressionCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Program.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Updating SuppressionCommand.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim/resources/comments.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Updating prefix field in the comments.json
  DevSkim-DotNet/Microsoft.DevSkim/resources/comments.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Adding tests for the suppression command.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Adding DryRun test for SuppressionCommand.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/SuppressionCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/SuppressionCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/SuppressionCommandOptions.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Moving the devskim language initialization in the ctor.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Adding test case for verifying multiple issue in the same line.
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
Due: none

Updating suppression with more meaningful var names.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Restore last line.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Updating SuppressionCommand to remove exception for first empty line.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Updating SuppressionCommand.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Resolve remaining comments
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/SuppressionCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/Suppression.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Try fix pipelining issue.
  Pipelines/devskim-visualstudio.yml
  Pipelines/devskim-vscode.yml
Due: Pipelines/devskim-visualstudio.yml

Try fix Relative Path test on Non-Windows platforms
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
Due: none

Update devskim-core.yml
  Pipelines/devskim-core.yml
Due: Pipelines/devskim-visualstudio.yml

Attempt recomment out IDE pipelines correctly
  Pipelines/devskim-visualstudio.yml
  Pipelines/devskim-vscode.yml
Due: Pipelines/devskim-visualstudio.yml

Try fully comment unused pipelines
  Pipelines/devskim-visualstudio.yml
  Pipelines/devskim-vscode.yml
Due: Pipelines/devskim-visualstudio.yml

Also test on Ubuntu
  Pipelines/devskim-core.yml
  Pipelines/templates/dotnet-test-job.yml
Due: Pipelines/devskim-visualstudio.yml

Show image name in pipeline job name
  Pipelines/devskim-core.yml
  Pipelines/templates/dotnet-test-job.yml
Due: Pipelines/devskim-visualstudio.yml

Adding Suppression command. (#427)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/SuppressionCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/Suppression.cs
  DevSkim-DotNet/Microsoft.DevSkim/resources/comments.json
  Pipelines/devskim-core.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/devskim-vscode.yml
  Pipelines/templates/dotnet-test-job.yml
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

CLI: output-format not required.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Omit Required attribute field.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Set default at the Option level
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SimpleTextWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Remove unused using.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: Pipelines, DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
