Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_nix
      displayName: Build Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-visualstudio.yml:
  name: DevSkim_VisualStudio_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_extension
      displayName: Build Visual Studio Extension
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_vscode_plugin
      displayName: Build VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
  ...

Require framework to build cli
  Pipelines/devskim-core.yml
  Pipelines/templates/nuget-build-job-framework.yml
Due: none

Fix respect case sensitivity in Within clauses
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Gfs/bug fixes (#215)
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  Pipelines/devskim-core.yml
  Pipelines/templates/nuget-build-job-framework.yml
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Auto build blazor
  .github/workflows/publish-wasm-to-gh-pages.yml
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/.gitattributes
Due: none

Update publish-wasm-to-gh-pages.yml
  .github/workflows/publish-wasm-to-gh-pages.yml
Due: none

Pack rules
  .github/workflows/publish-wasm-to-gh-pages.yml
Due: none

Show version
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Shared/NavMenu.razor
Due: none

Update NavMenu.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Shared/NavMenu.razor
Due: none

Update index.html
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/index.html
Due: none

Move version readout
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Shared/MainLayout.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Shared/NavMenu.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/index.html
Due: none

Fix
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Shared/MainLayout.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Shared/NavMenu.razor
Due: none

Finish
  .github/workflows/publish-wasm-to-gh-pages.yml
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/index.html
Due: none

Auto build blazor (#216)
  .github/workflows/publish-wasm-to-gh-pages.yml
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Shared/MainLayout.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/.gitattributes
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/index.html
Due: none

Update README.md
  README.md
Due: none

Create RunDevSkim.yml
  .github/workflows/RunDevSkim.yml
Due: none

Create RunDevSkim.yml (#218)
  .github/workflows/RunDevSkim.yml
Due: none

Update RunDevSkim.yml
  .github/workflows/RunDevSkim.yml
Due: none

Fixes concurrency issues
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fixes concurrency issues (#219)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update RunDevSkim.yml (#220)
  .github/workflows/RunDevSkim.yml
Due: none

Remove unused dependencies.
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Dependencies
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update Dependencies
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.GeneratedMSBuildEditorConfig.editorconfig
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  Directory.Build.props
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update devskim-visualstudio.yml
  Pipelines/devskim-visualstudio.yml
Due: none

Update sdl-job.yml
  Pipelines/templates/sdl-job.yml
Due: none

Update Node Dependencies (#224)
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
  Pipelines/devskim-visualstudio.yml
  Pipelines/templates/sdl-job.yml
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix using all patterns.
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexOperation.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Replace all previous calls to the _rules field (deprecated) with the _oatRules field.
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix build errors
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Catalogue.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/PackCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Tester.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Verifier.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Build fix
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Tester.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Verifier.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Replace all previous calls to the _rules field (deprecated) with the … (#228)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Catalogue.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/PackCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Tester.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Verifier.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
