Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_nix
      displayName: Build Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-visualstudio.yml:
  name: DevSkim_VisualStudio_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_extension
      displayName: Build Visual Studio Extension
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_vscode_plugin
      displayName: Build VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
  ...

Fix #283
  DevSkim-DotNet/Microsoft.DevSkim/Suppression.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Bump dependencies
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

npm audit fix
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Gfs/#283 (#284)
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Suppression.cs
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Downgrade Newtownsoft.Json
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Language.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Downgrade Newtownsoft.Json (#286)
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Language.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Add DoesNotApplyTo feature for rules
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/PackCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Properties/launchSettings.json
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Verifier.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Resources/languages.json
  DevSkim-DotNet/Microsoft.DevSkim/Rule.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  RulePacker/ICSharpCode.SharpZipLib.dll
  RulePacker/Microsoft.DevSkim.dll
  RulePacker/Microsoft.DevSkim.pdb
  RulePacker/NLog.dll
  RulePacker/Newtonsoft.Json.dll
  RulePacker/OAT.dll
  RulePacker/RecursiveExtractor.dll
  RulePacker/Sarif.dll
  RulePacker/SharpCompress.dll
  RulePacker/devskim.deps.json
  RulePacker/devskim.dll
  RulePacker/devskim.exe
  RulePacker/devskim.pdb
  rules/default/security/TLS/tls_generic.json
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Add DoesNotApplyTo feature for rules (#288)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/PackCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Properties/launchSettings.json
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Verifier.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Resources/languages.json
  DevSkim-DotNet/Microsoft.DevSkim/Rule.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  RulePacker/ICSharpCode.SharpZipLib.dll
  RulePacker/Microsoft.DevSkim.dll
  RulePacker/Microsoft.DevSkim.pdb
  RulePacker/NLog.dll
  RulePacker/Newtonsoft.Json.dll
  RulePacker/OAT.dll
  RulePacker/RecursiveExtractor.dll
  RulePacker/Sarif.dll
  RulePacker/SharpCompress.dll
  RulePacker/devskim.deps.json
  RulePacker/devskim.dll
  RulePacker/devskim.exe
  RulePacker/devskim.pdb
  rules/default/security/TLS/tls_generic.json
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Fix blazor build
  .github/workflows/publish-wasm-to-gh-pages.yml
Due: none

Adds does not apply to support to vs code extension.
  DevSkim-VSCode-Plugin/server/src/devskimObjects.ts
  DevSkim-VSCode-Plugin/server/src/devskimWorker.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Cleanup CodeQL Recommendations
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim/Rule.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinClause.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Clean up warnings
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Tester.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Verifier.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/JsonWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SimpleTextWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/UseCaseTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

CodeQL Recommendations
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Verifier.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/UseCaseTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/Location.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Bump dependencies
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update OAT
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix rule filtering
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Checker/SkimChecker.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix deserialization
  DevSkim-DotNet/Microsoft.DevSkim.Tests/RuleProcessorTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
Due: none

Adds does not apply to support to vs code extension. (#290)
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Tester.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Verifier.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/JsonWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SimpleTextWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/RuleProcessorTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/UseCaseTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Checker/SkimChecker.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Location.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Rule.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinClause.cs
  DevSkim-VSCode-Plugin/server/src/devskimObjects.ts
  DevSkim-VSCode-Plugin/server/src/devskimWorker.ts
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Add glob exclude option.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix 297
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SimpleTextWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix #295
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Properties/launchSettings.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

filter earlier.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Add glob exclude option. (#298)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Properties/launchSettings.json
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SimpleTextWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update languages.json
  DevSkim-DotNet/Microsoft.DevSkim/Resources/languages.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update languages.json (#301)
  DevSkim-DotNet/Microsoft.DevSkim/Resources/languages.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Note that untrusted workspaces are not supported.
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update Ruleset.cs (#306)
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Note that untrusted workspaces are not supported. (#302)
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix #307
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix #307 (#308)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
Due: none

Update Index.razor (#313)
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
Due: none

Gfs/fix blazor (#314)
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
Due: none

Output the column and line information for findings.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Output the column and line information for findings. (#315)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Map the devskim levels to sarif levels
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Make static
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
