Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules

Update index.html
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/index.html
Due: none

Update RuleProcessorTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/RuleProcessorTest.cs
Due: none

Restore Prebuild rules task
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Partway implement devskimrule to convertedoatrule
  DevSkim-DotNet/Microsoft.DevSkim.Tests/RuleProcessorTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/RulesetTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexClause.cs
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexOperation.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinClause.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinOperation.cs
  DevSkim-DotNet/OAT/Analyzer.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix many test issues
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexOperation.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update TextContainer.cs
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Minor fixes
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinClause.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinOperation.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Finish test fixes
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinOperation.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update OAT
  DevSkim-DotNet/OAT/Analyzer.cs
  DevSkim-DotNet/OAT/Clause.cs
  DevSkim-DotNet/OAT/Operation.cs
  DevSkim-DotNet/OAT/Operations/ContainsOperation.cs
  DevSkim-DotNet/OAT/Operations/RegexOperation.cs
Due: none

Support regex options in within operation
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinOperation.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix tests
  DevSkim-DotNet/Microsoft.DevSkim.Tests/UseCaseTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Enable rules build for pipeline
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update Microsoft.DevSkim.dll
  RulePacker/Microsoft.DevSkim.dll
Due: none

Update Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Add Rule Validation
  DevSkim-DotNet/Microsoft.DevSkim.Tests/RuleProcessorTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexOperation.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinOperation.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix tests
  DevSkim-DotNet/Microsoft.DevSkim.Tests/RulesetTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/UseCaseTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Switch to using published OAT
  DevSkim-DotNet/Microsoft.DevSkim.sln
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/OAT/Analyzer.cs
  DevSkim-DotNet/OAT/BoolOperator.cs
  DevSkim-DotNet/OAT/Clause.cs
  DevSkim-DotNet/OAT/ClauseCapture.cs
  DevSkim-DotNet/OAT/Helpers.cs
  DevSkim-DotNet/OAT/Logger.cs
  DevSkim-DotNet/OAT/OAT.csproj
  DevSkim-DotNet/OAT/Operation.cs
  DevSkim-DotNet/OAT/OperationResult.cs
  DevSkim-DotNet/OAT/Operations/ContainsAnyOperation.cs
  DevSkim-DotNet/OAT/Operations/ContainsKeyOperation.cs
  DevSkim-DotNet/OAT/Operations/ContainsOperation.cs
  DevSkim-DotNet/OAT/Operations/EndsWithOperation.cs
  DevSkim-DotNet/OAT/Operations/EqualsOperation.cs
  DevSkim-DotNet/OAT/Operations/GreaterThanOperation.cs
  DevSkim-DotNet/OAT/Operations/IsAfterOperation.cs
  DevSkim-DotNet/OAT/Operations/IsBeforeOperation.cs
  DevSkim-DotNet/OAT/Operations/IsExpiredOperation.cs
  DevSkim-DotNet/OAT/Operations/IsNullOperation.cs
  DevSkim-DotNet/OAT/Operations/IsTrueOperation.cs
  DevSkim-DotNet/OAT/Operations/LessThanOperation.cs
  DevSkim-DotNet/OAT/Operations/OatOperation.cs
  DevSkim-DotNet/OAT/Operations/RegexOperation.cs
  DevSkim-DotNet/OAT/Operations/StartsWithOperation.cs
  DevSkim-DotNet/OAT/Operations/WasModifiedOperation.cs
  DevSkim-DotNet/OAT/Range.cs
  DevSkim-DotNet/OAT/Resources.Designer.cs
  DevSkim-DotNet/OAT/Resources.resx
  DevSkim-DotNet/OAT/Rule.cs
  DevSkim-DotNet/OAT/RuleCapture.cs
  DevSkim-DotNet/OAT/Strings.cs
  DevSkim-DotNet/OAT/Test.cs
  DevSkim-DotNet/OAT/TypedClauseCapture.cs
  DevSkim-DotNet/OAT/Violation.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update Templates
  Pipelines/templates/devskim-pack-rules-steps.yml
  Pipelines/templates/nuget-build-job.yml
Due: none

Remove Pre-build from Devskim Csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update Pipelines to Pack Rules
  Pipelines/devskim-core.yml
  Pipelines/devskim-visualstudio.yml
Due: none

OAT Refactor (#209)
  .gitignore
  DevSkim-DotNet/Microsoft.DevSkim.Tests/RuleProcessorTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/RulesetTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/UseCaseTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Checker/SkimChecker.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Utils/GitHelper.cs
  DevSkim-DotNet/Microsoft.DevSkim/Language.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/OatRuleHolder.cs
  DevSkim-DotNet/Microsoft.DevSkim/PatternType.cs
  DevSkim-DotNet/Microsoft.DevSkim/Range.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexClause.cs
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexOperation.cs
  DevSkim-DotNet/Microsoft.DevSkim/Suppression.cs
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinClause.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinOperation.cs
  Pipelines/devskim-core.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/templates/devskim-pack-rules-steps.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Improve some null handling
  DevSkim-DotNet/Microsoft.DevSkim/Language.cs
  DevSkim-DotNet/Microsoft.DevSkim/PatternScope.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Combine scoped regexes when possible for performance.
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update Within operation
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinClause.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinOperation.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Refactor ScopedRegex for performance
  DevSkim-DotNet/Microsoft.DevSkim.Tests/UseCaseTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexOperation.cs
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinOperation.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix framework publish issue
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
Due: none

Update dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
Due: none

Update nuget-build-job.yml
  Pipelines/templates/nuget-build-job.yml
Due: none

Fix build
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

PIpeline fix
  .github/workflows/CLI-codeql-analysis.yml
  .github/workflows/VS-codeql-analysis.yml
Due: none

Minor Performance Improvements and Bug Fixes (#214)
  .github/workflows/CLI-codeql-analysis.yml
  .github/workflows/VS-codeql-analysis.yml
  DevSkim-DotNet/Microsoft.DevSkim.Tests/UseCaseTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexOperation.cs
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinClause.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinOperation.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix DevSkim NuGet targetting
  Pipelines/templates/nuget-build-job.yml
Due: none

Update Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix build
  Pipelines/devskim-core.yml
  Pipelines/templates/nuget-build-job-framework.yml
Due: none
