Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Pipelines/devskim-cli-debug.yml:
  name: DevSkim_CLI_Debug_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 7.0.x
        dotnetVersionLTS: 6.0.x
        testImage: windows-latest
  ...

Pipelines/devskim-cli-release.yml:
  name: DevSkim_CLI_Release_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 7.0.x
        dotnetVersionLTS: 6.0.x
        testImage: windows-latest
  ...

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: templates/sdl-job.yml
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    jobs:
    - template: templates/dotnet-publish-linux-mac-job.yml
      parameters:
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-debug.yml:
  name: DevSkim_VSCode_Debug_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: sdl-job.yml@templates
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    dependsOn: []
    jobs:
    - job: build_vscode_plugin
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-release.yml:
  name: DevSkim_VSCode_Release_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: sdl-job.yml@templates
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    dependsOn: []
    jobs:
    - job: build_vscode_plugin
  ...

Update Changelog.md
  Changelog.md
Due: none

Fix #697
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Clean up and changelog update
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Add unit tests for SarifWriter help field logic
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SarifWriterTests.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Update DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Refactor SARIF rule markdown description logic
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Refactor SarifWriterTests to use local writers
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SarifWriterTests.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Refactor SARIF output parsing in tests
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SarifWriterTests.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Rename SarifWriter test methods for clarity
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SarifWriterTests.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Remove unused Patterns property in SarifWriterTests
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SarifWriterTests.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Refactor SARIF rule text description logic
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Add test for empty markdown in SARIF rule help
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SarifWriterTests.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Update changelog for v1.0.63 with fixes and tests
  Changelog.md
Due: none

Remove redundant test for SARIF markdown help content
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SarifWriterTests.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Dependencies in checked in package-lock file should use npmjs repository
  DevSkim-VSCode-Plugin/package-lock.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Refactor SARIF help URI construction and update tests
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SarifWriterTests.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update tests to use SarifWriter.CreateHelpUri
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SarifWriterTests.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Rename baseHelpUri to BaseHelpUri in SarifWriter
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update SarifWriterTests to use exact string assertions
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SarifWriterTests.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Refactor SarifWriterTests to reuse helpUri variable
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SarifWriterTests.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Change BaseHelpUri to private constant
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Change CreateHelpUri to internal access modifier
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Expose internals to test project and update method visibility
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Remove unused variable in AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Remove unused variable in SuppressionsTest
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Remove unused exception variable in regex creation
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessor.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Bumps npm dependencies and DevSkim .NET dependencies, Fix #697 (#698)
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SarifWriterTests.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessor.cs
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/package-lock.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Remove VS Code plugin build step from pipelines
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Update changelog for pipeline build fix
  Changelog.md
Due: none

Remove VS Code plugin build step from pipelines (#699)
  Changelog.md
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Add release npmrc and update registry handling
  DevSkim-VSCode-Plugin/.npmrc.pr
  DevSkim-VSCode-Plugin/.npmrc.release
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/scripts/updatePackageLock.js
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Add restore-net-release script to package.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Update devskim-vscode-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Add release npmrc and update registry handling (#700)
  Changelog.md
  DevSkim-VSCode-Plugin/.npmrc.pr
  DevSkim-VSCode-Plugin/.npmrc.release
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/scripts/updatePackageLock.js
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Update tmp package to version 0.2.5
  DevSkim-VSCode-Plugin/package-lock.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Update tmp package to version 0.2.5 (#702)
  Changelog.md
  DevSkim-VSCode-Plugin/package-lock.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Path conditions:
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-debug.yml: any of: Pipelines/devskim-vscode-debug.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
