Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin

Begin adding nullable annotations to Library.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.sln
  DevSkim-DotNet/Microsoft.DevSkim.Tests/RuleProcessorTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/RulesetTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/CodeFix.cs
  DevSkim-DotNet/Microsoft.DevSkim/Comment.cs
  DevSkim-DotNet/Microsoft.DevSkim/ContentTypeRecord.cs
  DevSkim-DotNet/Microsoft.DevSkim/FixType.cs
  DevSkim-DotNet/Microsoft.DevSkim/Issue.cs
  DevSkim-DotNet/Microsoft.DevSkim/Language.cs
  DevSkim-DotNet/Microsoft.DevSkim/LanguageInfo.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/PatternScope.cs
  DevSkim-DotNet/Microsoft.DevSkim/PatternType.cs
  DevSkim-DotNet/Microsoft.DevSkim/Resources/devskim-rules.json
  DevSkim-DotNet/Microsoft.DevSkim/Rule.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/SearchCondition.cs
  DevSkim-DotNet/Microsoft.DevSkim/SearchPattern.cs
  DevSkim-DotNet/Microsoft.DevSkim/Severity.cs
  DevSkim-DotNet/Microsoft.DevSkim/SuppressedIssue.cs
  DevSkim-DotNet/Microsoft.DevSkim/Suppression.cs
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Finish nullable work.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Catalogue.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/PackCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/RootCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/ErrorMessage.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/ExceptionLogger.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/IssueRecord.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Tester.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Verifier.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/JsonWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SimpleTextWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/Writer.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/WriterFactory.cs
  DevSkim-DotNet/Microsoft.DevSkim/Issue.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update dependencies.
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix compat with updated library.
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SkimShim.cs
Due: Pipelines/devskim-visualstudio.yml

Fix #140.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Default to outputing in text format if not specified
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix default so its still dummy for console.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Upgrade dependencies.
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix #140 (#143)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update devskim-vscode.yml for Azure Pipelines
  Pipelines/devskim-vscode.yml
Due: none

Update devskim-core.yml for Azure Pipelines
  Pipelines/devskim-core.yml
Due: none

Update devskim-visualstudio.yml for Azure Pipelines
  Pipelines/devskim-visualstudio.yml
Due: none

Add usegitignore setting
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Options/OptionsDialogPage.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Options/OptionsDialogPageControl.xaml
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Settings.cs
  DevSkim-VSCode-Plugin/client/src/document-selectors.ts
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/src/devskimObjects.ts
  DevSkim-VSCode-Plugin/server/src/devskimWorkerSettings.ts
Due: Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update dependencies. Switch to using @types instead of vscode package.
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/server/package-lock.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Add gitignore setting to Devskimworkersettings.ts
  DevSkim-VSCode-Plugin/server/src/devskimWorkerSettings.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Ignore autogenerated rules file.
  .gitignore
  DevSkim-DotNet/Microsoft.DevSkim/Resources/devskim-rules.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix options page.
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Options/OptionsDialogPageControl.xaml
Due: Pipelines/devskim-visualstudio.yml

Removed unused file
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/packages.config
Due: Pipelines/devskim-visualstudio.yml

Use LibGit2Sharp
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SkimShim.cs
Due: Pipelines/devskim-visualstudio.yml

Working with call out to git directly.
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Options/OptionsDialogPageControl.xaml
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Settings.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SkimShim.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Utils/ExternalCommandRunner.cs
Due: Pipelines/devskim-visualstudio.yml

Add detection logic to devskimServer.ts
  DevSkim-VSCode-Plugin/server/src/devskimServer.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix
  DevSkim-VSCode-Plugin/server/src/devskimServer.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Use NodeGit for checking gitignore in node.js
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
  DevSkim-VSCode-Plugin/server/src/devskimServer.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Use LibGit2Sharp
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SkimShim.cs
Due: Pipelines/devskim-visualstudio.yml

Fix LibGit2Sharp support
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SkimShim.cs
Due: Pipelines/devskim-visualstudio.yml

update dependencies.
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Add node loader
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix typo
  rules/default/security/manualreview/dynamiccode.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml

Fix typo (#149)
  rules/default/security/manualreview/dynamiccode.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml

Update advisory-parser.py
  scripts/advisory-parser.py
Due: none

Update README.md
  README.md
Due: none

Fix #147.
  DevSkim-DotNet/Microsoft.DevSkim/IssueRecord.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Add logo svg
  media/devskim_logo.svg
Due: none

Fix #147. (#151)
  DevSkim-DotNet/Microsoft.DevSkim/IssueRecord.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Delete devskim-rules.json
  DevSkim-DotNet/Microsoft.DevSkim/Resources/devskim-rules.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fixed condition handling bug - the VS engine does not find the correct finding-region before searching for the condition pattern.
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix typos in README
  DevSkim-VSCode-Plugin/README.md
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Fix typos in README (#154)
  DevSkim-VSCode-Plugin/README.md
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml
