Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_nix
      displayName: Build Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-visualstudio.yml:
  name: DevSkim_VisualStudio_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_extension
      displayName: Build Visual Studio Extension
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_vscode_plugin
      displayName: Build VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
  ...

Update ViewCode.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
Due: none

Delete Counter.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Counter.razor
Due: none

Adding CodeFile class
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/CodeFile.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
Due: none

Add Dropdown Components, Update Reports
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Reports.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Shared/Dropdown.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Shared/DropdownListItem.razor
Due: none

Update Reports.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Reports.razor
Due: none

Update CodeFile.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/CodeFile.cs
Due: none

Print out Guid given on ViewCode page
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/CodeFile.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
Due: none

Better failure message on view code page
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/CodeFile.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
Due: none

Fix
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
Due: none

Fix
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
Due: none

WIP
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

fixes
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update recursivev extrator version
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

working
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
Due: none

Source code highlighting working!
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/_Imports.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/css/prism.css
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/index.html
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/js/prism-bridge.js
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/js/prism.js
Due: none

Add Reports Link
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Reports.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
Due: none

Fix reports link
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Reports.razor
Due: none

Formatting of View Code
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
Due: none

Fixes
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Reports.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Results.cs
Due: none

Update Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
Due: none

Show count of number of results per file
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Reports.razor
Due: none

Update Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Default load latest report
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Reports.razor
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Lazy Alignment
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Reports.razor
Due: none

Show severity
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Reports.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
Due: none

Fixes
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Reports.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/devskim.ico
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/index.html
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/sample-data/weather.json
Due: none

Parallelize DevSkim
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/index.html
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/TestCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/VerifyCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/JsonWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
