Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_nix
      displayName: Build Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-visualstudio.yml:
  name: DevSkim_VisualStudio_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_extension
      displayName: Build Visual Studio Extension
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_vscode_plugin
      displayName: Build VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
  ...

Try fix blazor publish.
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
Due: none

Map the devskim levels to sarif levels (#317)
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Add DevSkim Severity to the property bag
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update README.md
  README.md
Due: none

Add DevSkim Severity to the property bag (#319)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  README.md
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Upgrade all packages via `npx npm-check-updates -u` && `npm i`
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update dependencies
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  Directory.Build.props
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
Due: none

Update dependencies (#322)
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  Directory.Build.props
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fix build problems with new versions.
  DevSkim-VSCode-Plugin/client/src/extension.ts
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/__tests__/devskimRules.spec.ts
  DevSkim-VSCode-Plugin/server/__tests__/devskimRules.ts
  DevSkim-VSCode-Plugin/server/src/__mocks__/devskimRules.ts
  DevSkim-VSCode-Plugin/server/src/__mocks__/ruleValidator.ts
  DevSkim-VSCode-Plugin/server/src/devskimServer.ts
  DevSkim-VSCode-Plugin/server/src/server.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/logger.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Clean up rules
  DevSkim-DotNet/Microsoft.DevSkim.Tests/rules/valid/devskim-rules.json
Due: none

Update JSON Writer to support Fix Its
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/JsonWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix double writing scopes in pack command by switching to .net serialization.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/PackCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Convert to System.Text.Json
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Catalogue.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Verifier.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/JsonWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/ContentType.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/ContentTypeRecord.cs
  DevSkim-DotNet/Microsoft.DevSkim/CodeFix.cs
  DevSkim-DotNet/Microsoft.DevSkim/Comment.cs
  DevSkim-DotNet/Microsoft.DevSkim/ContentTypeRecord.cs
  DevSkim-DotNet/Microsoft.DevSkim/FixType.cs
  DevSkim-DotNet/Microsoft.DevSkim/Language.cs
  DevSkim-DotNet/Microsoft.DevSkim/LanguageInfo.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/PatternScope.cs
  DevSkim-DotNet/Microsoft.DevSkim/PatternType.cs
  DevSkim-DotNet/Microsoft.DevSkim/Rule.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/SearchCondition.cs
  DevSkim-DotNet/Microsoft.DevSkim/SearchPattern.cs
  DevSkim-DotNet/Microsoft.DevSkim/Severity.cs
  version.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Misc Fixes for System.Text.Json differences
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/JsonWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SimpleTextWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/UseCaseTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/FixType.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/PatternScope.cs
  DevSkim-DotNet/Microsoft.DevSkim/PatternType.cs
  DevSkim-DotNet/Microsoft.DevSkim/Rule.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/Severity.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Bump rulepacker
  RulePacker/Microsoft.DevSkim.dll
  RulePacker/Microsoft.DevSkim.pdb
  RulePacker/System.Text.Json.dll
  RulePacker/devskim.deps.json
  RulePacker/devskim.dll
  RulePacker/devskim.exe
  RulePacker/devskim.pdb
  RulePacker/ref/devskim.dll
Due: none

Fix extension
  DevSkim-VSCode-Plugin/.vscode/launch.json
  DevSkim-VSCode-Plugin/client/src/extension.ts
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/src/utility_classes/rulesLoader.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update PackCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/PackCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Upgrade all packages via `npx npm-check-updates -u` && `npm i` (#320)
  DevSkim-VSCode-Plugin/.vscode/launch.json
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/client/src/extension.ts
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/__tests__/devskimRules.spec.ts
  DevSkim-VSCode-Plugin/server/__tests__/devskimRules.ts
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
  DevSkim-VSCode-Plugin/server/src/__mocks__/devskimRules.ts
  DevSkim-VSCode-Plugin/server/src/__mocks__/ruleValidator.ts
  DevSkim-VSCode-Plugin/server/src/devskimServer.ts
  DevSkim-VSCode-Plugin/server/src/server.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/logger.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/rulesLoader.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Try to print verifier messages. Debugging pipeline issue.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/VerifyCommand.cs
  RulePacker/Microsoft.DevSkim.dll
  RulePacker/Microsoft.DevSkim.pdb
  RulePacker/devskim.dll
  RulePacker/devskim.exe
  RulePacker/devskim.pdb
  RulePacker/ref/devskim.dll
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Nullable annotation fix
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Tester.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix Verifier
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj.user
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Properties/launchSettings.json
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Verifier.cs
  RulePacker/Microsoft.DevSkim.dll
  RulePacker/Microsoft.DevSkim.pdb
  RulePacker/devskim.deps.json
  RulePacker/devskim.dll
  RulePacker/devskim.exe
  RulePacker/devskim.pdb
  RulePacker/ref/devskim.dll
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Change Severity enum to not be flags, processor now takes a list of Severities to match against.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Tester.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/UseCaseTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SkimShim.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Severity.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Revert "Change Severity enum to not be flags, processor now takes a list of Severities to match against."
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Tester.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/UseCaseTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Shim/SkimShim.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Severity.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Add None name to severity l.
  DevSkim-DotNet/Microsoft.DevSkim/Severity.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Revert "Upgrade all packages via `npx npm-check-updates -u` && `npm i` (#320)"
  DevSkim-VSCode-Plugin/.vscode/launch.json
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/client/src/extension.ts
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/__tests__/devskimRules.spec.ts
  DevSkim-VSCode-Plugin/server/__tests__/devskimRules.ts
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
  DevSkim-VSCode-Plugin/server/src/__mocks__/devskimRules.ts
  DevSkim-VSCode-Plugin/server/src/__mocks__/ruleValidator.ts
  DevSkim-VSCode-Plugin/server/src/devskimServer.ts
  DevSkim-VSCode-Plugin/server/src/server.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/logger.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/rulesLoader.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Adds more finding conditions
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinClause.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinOperation.cs
  rules/default/security/frameworks/aspnet5.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Remove empty comment fields from rules
  rules/default/security/TLS/tls_appconfig.json
  rules/default/security/TLS/tls_appcontext.json
  rules/default/security/TLS/tls_cobol.json
  rules/default/security/TLS/tls_functioncall.json
  rules/default/security/TLS/tls_generic.json
  rules/default/security/TLS/tls_go.json
  rules/default/security/TLS/tls_java.json
  rules/default/security/TLS/tls_javascript.json
  rules/default/security/TLS/tls_python.json
  rules/default/security/TLS/tls_rust.json
  rules/default/security/TLS/tls_securityprotocol.json
  rules/default/security/TLS/tls_sslprotocol.json
  rules/default/security/TLS/tls_win32.json
  rules/default/security/api/dangerous_api.json
  rules/default/security/api/deserialization.json
  rules/default/security/api/suggested_api.json
  rules/default/security/attack_surface/outbound_network.json
  rules/default/security/control_flow/permission_evelation.json
  rules/default/security/cryptography/certificate.json
  rules/default/security/cryptography/ciphers.json
  rules/default/security/cryptography/general.json
  rules/default/security/cryptography/hardcoded_tls.json
  rules/default/security/cryptography/hash_algorithm.json
  rules/default/security/cryptography/initialization_vector.json
  rules/default/security/cryptography/protocol.json
  rules/default/security/cryptography/random.json
  rules/default/security/cryptography/underhanded.json
  rules/default/security/cryptography/weak_cipher_modes.json
  rules/default/security/frameworks/dotnet_framework.json
  rules/default/security/frameworks/php.json
  rules/default/security/hygiene/localhost.json
  rules/default/security/hygiene/todo.json
  rules/default/security/manualreview/dynamiccode.json
  rules/default/security/manualreview/zip_slip.json
  rules/default/security/privacy/device_restrictions.json
  rules/default/security/privacy/secrets.json
  rules/default/security/storage/secure_storage.json
  rules/default/security/vulnerable_libraries/microsoft_nuget.json
  rules/default/security/xml/external_entities.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Revert "Upgrade all packages via `npx npm-check-updates -u` && `npm i` (#320)" (#328)
  DevSkim-VSCode-Plugin/.vscode/launch.json
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/client/src/extension.ts
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/__tests__/devskimRules.spec.ts
  DevSkim-VSCode-Plugin/server/__tests__/devskimRules.ts
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
  DevSkim-VSCode-Plugin/server/src/__mocks__/devskimRules.ts
  DevSkim-VSCode-Plugin/server/src/__mocks__/ruleValidator.ts
  DevSkim-VSCode-Plugin/server/src/devskimServer.ts
  DevSkim-VSCode-Plugin/server/src/server.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/logger.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/rulesLoader.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update deserialization.json
  rules/default/security/api/deserialization.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Last changes
  rules/default/security/api/misused_api.json
  rules/default/security/api/t_sql.json
  rules/default/security/control_flow/dynamic_execution.json
  rules/default/security/control_flow/format_string.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Drop System.Text.Json to 5.0.0 to match Visual Studio
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Drop System.Text.Json to 5.0.0 to match Visual Studio (#331)
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Provide the URI parameter as requried by github
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim/IssueRecord.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update RunDevSkim.yml
  .github/workflows/RunDevSkim.yml
Due: none

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
