Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Pipelines/devskim-cli-debug.yml:
  name: DevSkim_CLI_Debug_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 7.0.x
        dotnetVersionLTS: 6.0.x
        testImage: windows-latest
  ...

Pipelines/devskim-cli-release.yml:
  name: DevSkim_CLI_Release_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 7.0.x
        dotnetVersionLTS: 6.0.x
        testImage: windows-latest
  ...

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: templates/sdl-job.yml
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    jobs:
    - template: templates/dotnet-publish-linux-mac-job.yml
      parameters:
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-debug.yml:
  name: DevSkim_VSCode_Debug_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: sdl-job.yml@templates
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    dependsOn: []
    jobs:
    - job: build_vscode_plugin
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-release.yml:
  name: DevSkim_VSCode_Release_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: sdl-job.yml@templates
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    dependsOn: []
    jobs:
    - job: build_vscode_plugin
  ...

Address review: comment mappings, TLS false positives, VB casing, guidance
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  DevSkim-DotNet/Microsoft.DevSkim/resources/comments.json
  DevSkim-DotNet/Microsoft.DevSkim/resources/languages.json
  guidance/DS154191.md
  guidance/DS200001.md
  guidance/DS200005.md
  guidance/DS425050.md
  guidance/DS425060.md
  rules/default/security/TLS/tls_generic.json
  rules/default/security/TLS/tls_win32.json
  rules/default/security/api/deserialization.json
  rules/default/security/containers/kubernetes.json
  rules/default/security/cryptography/connection_strings.json
  rules/default/security/cryptography/hardcoded_tls.json
  rules/default/security/supplychain/package_sources.json
  rules/default/security/xml/external_entities.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Fix quadratic backtracking in rule DS440011
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Fix quadratic backtracking in rule DS440011 (#789)
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Update hardcoded TLS rules to include additional cipher list patterns
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Remove deprecated scripts and pipeline configurations for DevSkim VSCode and Visual Studio extensions, including version management and package handling.
  DevSkim-VSCode-Plugin/.gitignore
  DevSkim-VSCode-Plugin/.npmrc.pipeline
  DevSkim-VSCode-Plugin/.vscode/extensions.json
  DevSkim-VSCode-Plugin/.vscode/launch.json
  DevSkim-VSCode-Plugin/.vscode/settings.json
  DevSkim-VSCode-Plugin/.vscode/tasks.json
  DevSkim-VSCode-Plugin/.vscodeignore
  DevSkim-VSCode-Plugin/License.txt
  DevSkim-VSCode-Plugin/README.md
  DevSkim-VSCode-Plugin/ThirdPartyNotices.txt
  DevSkim-VSCode-Plugin/client/common/codeFixMapping.ts
  DevSkim-VSCode-Plugin/client/common/devskimSettings.ts
  DevSkim-VSCode-Plugin/client/common/fileVersion.ts
  DevSkim-VSCode-Plugin/client/common/notificationNames.ts
  DevSkim-VSCode-Plugin/client/common/selectors.ts
  DevSkim-VSCode-Plugin/client/devSkimFixer.ts
  DevSkim-VSCode-Plugin/client/extension.ts
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/client/tsconfig.json
  DevSkim-VSCode-Plugin/devskim.ico
  DevSkim-VSCode-Plugin/eslint.config.mjs
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/scripts/checkPreReleaseFlag.js
  DevSkim-VSCode-Plugin/scripts/resetPackageVersion.js
  DevSkim-VSCode-Plugin/scripts/setPackageVersion.js
  DevSkim-VSCode-Plugin/scripts/updatePackageLock.js
  DevSkim-VSCode-Plugin/tsconfig.json
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Add changelog entry for removing IDE extensions
  Changelog.md
Due: none

Remove leftover VS Code extension tooling and configuration
  .github/dependabot.yml
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

Rewrite README for the DevSkim library and CLI
  README.md
Due: none

Remove Visual Studio extension and IDE language server projects
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/CodeFixMapping.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/CommentStylesEnum.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/IDevSkimOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/Messages.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/Microsoft.DevSkim.LanguageProtoInterop.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/PortableScannerSettings.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/ValueResultEnum.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/CodeActionHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/ConfigHelpers.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/DidChangeConfigurationHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/StaticScannerSettings.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/VisualStudioConfigurationHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/.vsextension/string-resources.json
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/License.txt
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/devskim-icon-200.png
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/devskim-icon-32.png
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/devskim.ico
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/readme-gallery.md
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimExtension.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageServerProvider.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimSettingDefinitions.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Properties/launchSettings.json
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/publish.manifest.json
  DevSkim-DotNet/Microsoft.DevSkim.sln
  media/DevSkim-VisualStudio-Demo-1.gif
  media/DevSkim-VisualStudio-Suppression-Example.png
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Update Copilot instructions to cover only the library and CLI
  .github/copilot-instructions.md
Due: none

Update guidance and rules for secret detection, privilege escalation, and deserialization checks per review comments.
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  guidance/DS154191.md
  guidance/DS173239.md
  guidance/DS200001.md
  rules/default/security/TLS/tls_generic.json
  rules/default/security/api/deserialization.json
  rules/default/security/containers/kubernetes.json
  rules/default/security/privacy/secrets.json
  rules/default/security/storage/secure_storage.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Change .NET SDK requirement from 8.0 to 10.0
  DevSkim-DotNet/Microsoft.DevSkim.sln
  README.md
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Path conditions:
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-debug.yml: any of: Pipelines/devskim-vscode-debug.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
