Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules

Update AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix Output to Console
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update devskim-core.yml for Azure Pipelines
  Pipelines/devskim-core.yml
Due: none

Return non-zero ExitCode.IssuesExist when analyze finds issues
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Bumps dependencies.
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

.Net 5 ify for performance
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Tester.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Verifier.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/UseCaseTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.GeneratedMSBuildEditorConfig.editorconfig
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/UpgradeLog.htm
  Directory.Build.props
  Pipelines/devskim-core.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nuget-build-job-framework.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Fixes
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Properties/launchSettings.json
Due: none

Fixes
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Bumps dependencies. (#233)
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Build fix
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
Due: none

Update devskim-core.yml
  Pipelines/devskim-core.yml
Due: none

Update Dependencies
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  Directory.Build.props
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
Due: none

Fix typos
  guidance/DS121708.md
Due: none

Fix typos (#239)
  guidance/DS121708.md
Due: none

Update Dependencies.
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Tester.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Verifier.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/empty
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.sln
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  Directory.Build.props
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update pipeline for .net 5
  Pipelines/devskim-core.yml
Due: none

Update rulepacker for .net5
  RulePacker/DiscUtils.Btrfs.dll
  RulePacker/DiscUtils.Core.dll
  RulePacker/DiscUtils.Ext.dll
  RulePacker/DiscUtils.Fat.dll
  RulePacker/DiscUtils.HfsPlus.dll
  RulePacker/DiscUtils.Iso9660.dll
  RulePacker/DiscUtils.Ntfs.dll
  RulePacker/DiscUtils.Streams.dll
  RulePacker/DiscUtils.Vhd.dll
  RulePacker/DiscUtils.Vhdx.dll
  RulePacker/DiscUtils.Vmdk.dll
  RulePacker/DiscUtils.Wim.dll
  RulePacker/DiscUtils.Xfs.dll
  RulePacker/ICSharpCode.SharpZipLib.dll
  RulePacker/KellermanSoftware.Compare-NET-Objects.dll
  RulePacker/Microsoft.Bcl.AsyncInterfaces.dll
  RulePacker/Microsoft.DevSkim.dll
  RulePacker/Microsoft.DevSkim.pdb
  RulePacker/Microsoft.Extensions.CommandLineUtils.dll
  RulePacker/NLog.dll
  RulePacker/Newtonsoft.Json.dll
  RulePacker/OAT.dll
  RulePacker/RecursiveExtractor.dll
  RulePacker/Sarif.dll
  RulePacker/Serilog.Sinks.Console.dll
  RulePacker/Serilog.dll
  RulePacker/SharpCompress.dll
  RulePacker/System.Text.Encoding.CodePages.dll
  RulePacker/devskim.deps.json
  RulePacker/devskim.dll
  RulePacker/devskim.exe
  RulePacker/devskim.pdb
  RulePacker/devskim.runtimeconfig.dev.json
  RulePacker/devskim.runtimeconfig.json
  RulePacker/lzo.net.dll
  RulePacker/ref/devskim.dll
  RulePacker/runtimes/win/lib/netcoreapp2.0/System.Text.Encoding.CodePages.dll
Due: none

Fix Default template values.
  Pipelines/devskim-visualstudio.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nuget-build-job-framework.yml
  Pipelines/templates/nuget-build-job.yml
Due: none

Upgrade blazor to net 5.0
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Shared/MainLayout.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/_Imports.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/index.html
Due: none

Bump Dependencies
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Microsoft.DevSkim.Blazor.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Shared/MainLayout.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/_Imports.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/wwwroot/index.html
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  Pipelines/devskim-core.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nuget-build-job-framework.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Bump nbgv
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  Directory.Build.props
Due: none

Fix build
  Pipelines/devskim-core.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/nuget-build-job-framework.yml
Due: none

Update devskim-visualstudio.yml
  Pipelines/devskim-visualstudio.yml
Due: none

Fix null reference issues.
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Shared/SurveyPrompt.razor
Due: none

Fix null reference issues. (#243)
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Pages/ViewCode.razor
  DevSkim-DotNet/Microsoft.DevSkim.Blazor/Shared/SurveyPrompt.razor
Due: none

Update dangerous_api.json
  rules/default/security/api/dangerous_api.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Update devskim-vscode.yml
  Pipelines/devskim-vscode.yml
Due: none
