Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Path conditions:
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-debug.yml: any of: Pipelines/devskim-vscode-debug.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules

Fail fast unless staging holds exactly one vsix
  Changelog.md
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Fix VS Code release publish failing with npm E401
  Changelog.md
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Pin GitHub Actions to full-length commit SHAs
  .github/dependabot.yml
  .github/workflows/changelog.yml
Due: none

Pin GitHub Actions to full-length commit SHAs (#779)
  .github/dependabot.yml
  .github/workflows/changelog.yml
Due: none

Fix VS Code release publish failing with npm E401 (#772)
  Changelog.md
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Ship the Android and XSLT rules that were never embedded
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  guidance/DS132781.md
  guidance/DS180000.md
  guidance/DS180001.md
  guidance/DS180002.md
  rules/default/security/frameworks/android.json
  rules/default/security/xml/xslt_scripting.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Give the two distinct DS440011 rules separate IDs
  rules/default/security/cryptography/hardcoded_tls.json
  rules/default/security/frameworks/dotnet_framework.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Close the banned API gap against SDL ADM.10082
  guidance/DS154190.md
  guidance/DS154191.md
  guidance/DS154192.md
  guidance/DS154193.md
  rules/default/security/api/dangerous_api.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Cover the deserializers ADM.10010 names as unsafe
  guidance/DS425050.md
  guidance/DS425060.md
  guidance/DS425070.md
  guidance/DS425080.md
  guidance/DS425090.md
  rules/default/security/api/deserialization.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Extend XXE coverage beyond Objective-C and Swift
  guidance/DS132782.md
  guidance/DS132783.md
  guidance/DS132784.md
  guidance/DS132785.md
  guidance/DS132786.md
  rules/default/security/xml/external_entities.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Use the JSONPath, YAMLPath and XPath support the engine already has
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  guidance/DS114352.md
  guidance/DS200000.md
  guidance/DS200001.md
  guidance/DS200002.md
  guidance/DS200003.md
  guidance/DS200004.md
  guidance/DS200005.md
  guidance/DS200006.md
  guidance/DS200007.md
  guidance/DS205000.md
  guidance/DS205001.md
  rules/default/security/containers/kubernetes.json
  rules/default/security/cryptography/connection_strings.json
  rules/default/security/supplychain/package_sources.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Add missing language definitions and target React files
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/resources/comments.json
  DevSkim-DotNet/Microsoft.DevSkim/resources/languages.json
  guidance/DS610000.md
  rules/default/security/TLS/tls_javascript.json
  rules/default/security/cryptography/certificate.json
  rules/default/security/cryptography/ciphers.json
  rules/default/security/cryptography/hardcoded_tls.json
  rules/default/security/cryptography/random.json
  rules/default/security/manualreview/dynamiccode.json
  rules/default/security/web/html_links.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Detect private keys and provider tokens, and fix a JSONC regression
  DevSkim-DotNet/Microsoft.DevSkim/resources/comments.json
  DevSkim-DotNet/Microsoft.DevSkim/resources/languages.json
  guidance/DS173238.md
  guidance/DS173239.md
  guidance/DS173240.md
  rules/default/security/cryptography/connection_strings.json
  rules/default/security/privacy/secrets.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Give every rule a self-test, which surfaced three dead rules
  rules/default/security/TLS/tls_cobol.json
  rules/default/security/TLS/tls_generic.json
  rules/default/security/TLS/tls_go.json
  rules/default/security/TLS/tls_java.json
  rules/default/security/TLS/tls_javascript.json
  rules/default/security/TLS/tls_macos.json
  rules/default/security/TLS/tls_python.json
  rules/default/security/TLS/tls_rust.json
  rules/default/security/TLS/tls_win32.json
  rules/default/security/control_flow/format_string.json
  rules/default/security/cryptography/ciphers.json
  rules/default/security/cryptography/hardcoded_tls.json
  rules/default/security/cryptography/random.json
  rules/default/security/storage/secure_storage.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Add changelog entry for the SDL coverage work
  Changelog.md
Due: none

Make DevSkim's overrides survive the containment change in AppInspector #654
  rules/default/security/TLS/tls_generic.json
  rules/default/security/api/suggested_api.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Record the override compatibility fixes in the changelog
  Changelog.md
Due: none

Move to ApplicationInspector 1.10.1
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Record the 1.10.1 move in the changelog
  Changelog.md
Due: none

Use obviously fake sample values in the token self-tests
  rules/default/security/privacy/secrets.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Consolidate Dependabot security updates
  .github/dependabot.yml
  Changelog.md
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/package-lock.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Correct changelog release version
  Changelog.md
Due: none

Add handoff notes for the boolean expression rule work
  HANDOFF-boolean-expression-rules.md
Due: none

Update ApplicationInspector dependencies and add new security rules
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  HANDOFF-boolean-expression-rules.md
  guidance/DS610001.md
  guidance/DS610002.md
  rules/default/security/TLS/tls_generic.json
  rules/default/security/web/http_headers.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Add boolean expression rules and update security rules in ApplicationInspector (#787)
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  guidance/DS610001.md
  guidance/DS610002.md
  rules/default/security/TLS/tls_generic.json
  rules/default/security/web/http_headers.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Fix React comment handling and pip requirements coverage
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  DevSkim-DotNet/Microsoft.DevSkim/resources/comments.json
  DevSkim-DotNet/Microsoft.DevSkim/resources/languages.json
  rules/default/security/supplychain/package_sources.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Correct Kubernetes, SQL Server, and NuGet rule matching
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  rules/default/security/containers/kubernetes.json
  rules/default/security/cryptography/connection_strings.json
  rules/default/security/supplychain/package_sources.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Fix multiline Python XML and YAML safety checks
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  guidance/DS132786.md
  rules/default/security/api/deserialization.json
  rules/default/security/xml/external_entities.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Scope HTML link protections to each anchor tag
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  rules/default/security/web/html_links.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Respect HTTP header boundaries and quoted cookie values
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  rules/default/security/web/http_headers.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Validate HSTS directive structure and reject duplicates
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  guidance/DS610002.md
  rules/default/security/web/http_headers.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Fix React and Razor language routing
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  DevSkim-DotNet/Microsoft.DevSkim/resources/comments.json
  DevSkim-DotNet/Microsoft.DevSkim/resources/languages.json
  rules/default/security/TLS/tls_appcontext.json
  rules/default/security/TLS/tls_functioncall.json
  rules/default/security/TLS/tls_securityprotocol.json
  rules/default/security/TLS/tls_sslprotocol.json
  rules/default/security/TLS/tls_win32.json
  rules/default/security/api/deserialization.json
  rules/default/security/cryptography/certificate.json
  rules/default/security/cryptography/ciphers.json
  rules/default/security/cryptography/connection_strings.json
  rules/default/security/cryptography/hardcoded_tls.json
  rules/default/security/cryptography/hash_algorithm.json
  rules/default/security/cryptography/protocol.json
  rules/default/security/cryptography/random.json
  rules/default/security/frameworks/aspnet5.json
  rules/default/security/manualreview/dynamiccode.json
  rules/default/security/manualreview/zip_slip.json
  rules/default/security/storage/secure_storage.json
  rules/default/security/web/html_links.json
  rules/default/security/xml/external_entities.json
  rules/default/security/xml/xslt_scripting.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Fix untagged private registry image detection
  rules/default/security/containers/kubernetes.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Match connection string options case-insensitively
  rules/default/security/cryptography/connection_strings.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Fix package source rule coverage
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  rules/default/security/supplychain/package_sources.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Scope HTML link suppression to each anchor
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  rules/default/security/web/html_links.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Fix XXE rules for FSharp and lxml
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  guidance/DS132786.md
  rules/default/security/xml/external_entities.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Document review fixes
  Changelog.md
Due: none

Fix nested PyYAML loads and raw header apostrophe handling
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  rules/default/security/api/deserialization.json
  rules/default/security/web/http_headers.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Allow apostrophes in unquoted headers and document Razor rule scoping
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  rules/default/security/web/http_headers.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml
