Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Pipelines/devskim-cli-debug.yml:
  name: DevSkim_CLI_Debug_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 7.0.x
        dotnetVersionLTS: 6.0.x
        testImage: windows-latest
  ...

Pipelines/devskim-cli-release.yml:
  name: DevSkim_CLI_Release_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 7.0.x
        dotnetVersionLTS: 6.0.x
        testImage: windows-latest
  ...

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: templates/sdl-job.yml
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    jobs:
    - template: templates/dotnet-publish-linux-mac-job.yml
      parameters:
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-debug.yml:
  name: DevSkim_VSCode_Debug_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: sdl-job.yml@templates
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    dependsOn: []
    jobs:
    - job: build_vscode_plugin
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-release.yml:
  name: DevSkim_VSCode_Release_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: sdl-job.yml@templates
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    dependsOn: []
    jobs:
    - job: build_vscode_plugin
  ...

Update NuGet package versions in project files
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio.SourceGenerator/Microsoft.DevSkim.VisualStudio.SourceGenerator.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update Changelog.md
  Changelog.md
Due: none

Update NuGet package versions in project files (#703)
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio.SourceGenerator/Microsoft.DevSkim.VisualStudio.SourceGenerator.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Committing changes related XML suppressions not working (https://github.com/microsoft/DevSkim/issues/588).
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DevSkimRuleProcessorTests.cs
  DevSkim-DotNet/Microsoft.DevSkim/resources/comments.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

New integration tests for XML suppressions
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DevSkimRuleProcessorTests.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/resources/comments.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Refactored the tests in DevSkimRuleProcessorTests.cs file
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DevSkimRuleProcessorTests.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Cleaned up the unused method GenerateSuppressionByLanguage from the DevSkimRuleProcessorTests
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DevSkimRuleProcessorTests.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Update Changelog for version 1.0.67
  Changelog.md
Due: none

Update package-lock.json
  DevSkim-VSCode-Plugin/package-lock.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Update VS Code Dependencies (#706)
  Changelog.md
  DevSkim-VSCode-Plugin/package-lock.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Add changelog entry for jws dependency bump (#708)
  Changelog.md
Due: none

Suppress DS173237 on all-zero values
  rules/default/security/privacy/secrets.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

move pipelines to new org
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
  nuget.config
  nuget.config.azure
  nuget.release.config
Due: none

Add entry for version 1.0.69 in Changelog
  Changelog.md
Due: none

update service connection name
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

update feeds for org move
  DevSkim-VSCode-Plugin/.npmrc.pr
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

fix nuget.config reference
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

fix nuget.config ref
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

remove VS extension pipelines
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
Due: none

add changelog entry
  Changelog.md
Due: none

move pipelines to new org (#714)
  Changelog.md
  DevSkim-VSCode-Plugin/.npmrc.pr
  DevSkim-VSCode-Plugin/package.json
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
  nuget.config
  nuget.config.azure
  nuget.release.config
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

fix registry used for vscode ext release
  DevSkim-VSCode-Plugin/.npmrc
  DevSkim-VSCode-Plugin/.npmrc.release
  DevSkim-VSCode-Plugin/package.json
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

update changelog
  Changelog.md
Due: none

bring back rename of npmrc file
  DevSkim-VSCode-Plugin/.npmrc.pipeline
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

fix registry used for vscode ext release (#715)
  Changelog.md
  DevSkim-VSCode-Plugin/.npmrc.pipeline
  DevSkim-VSCode-Plugin/.npmrc.release
  DevSkim-VSCode-Plugin/package.json
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Fix invalid trailing comma in package.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Run Npm Audit Fix
  DevSkim-VSCode-Plugin/package-lock.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Normalize spacing in restore-net npm script
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Bump @vscode/vsce to ^3.7.1 and update lockfile
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Fix invalid trailing comma in package.json (#716)
  Changelog.md
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Add Copilot instructions for repository-specific agent guidance (#719)
  .github/copilot-instructions.md
  Changelog.md
Due: none

Suppress DS173237 on all-zero values (#709)
  Changelog.md
  rules/default/security/privacy/secrets.json
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Fix code fixes + suppressions.
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/CodeActionHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageServerProvider.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Clean up language server process
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageServerProvider.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Fix settings
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/.vsextension/string-resources.json
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageServerProvider.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimSettingDefinitions.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Delete DevSkim-DotNet/devskim-server-log20260205.txt
  DevSkim-DotNet/devskim-server-log20260205.txt
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Simplify diagnostic key - alraedy mapped in dictionary by uri no need to include in the key too
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/CodeActionHandler.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Path conditions:
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-debug.yml: any of: Pipelines/devskim-vscode-debug.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
