Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: Pipelines, DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules

Fixes encoding for Sarif as well
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fixes encoding for Sarif as well (#411)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

wip
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/FixCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/RootCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim/IssueRecord.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Rewrite command line handling for simplicity
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/FixCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/ICommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/RootCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/VerifyCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/FixCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/VerifyCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim/IssueRecord.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Skeleton for fix command to operate on sarif
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/FixCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/FixCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/VerifyCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRule.cs
  DevSkim-DotNet/Microsoft.DevSkim/IssueRecord.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Adds Newtonsoft attributes to fix CodeFixes being deserialized
  DevSkim-DotNet/Microsoft.DevSkim/CodeFix.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRule.cs
  DevSkim-DotNet/Microsoft.DevSkim/FixType.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Implement fixer
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/FixCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/FixCommandOptions.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Add net 7 support to csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/FixCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Add functionality for filtering by file name or by ruleid
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/FixCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix base path rooting
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Gather and report Git repository information in sarif report
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/Writer.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/WriterFactory.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Adds back default Severity and Confidence filters
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update build to support net7.0
  Pipelines/devskim-core.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nuget-build-job-framework.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/devskim-visualstudio.yml

Run tests for both current and lts .net versions
  Pipelines/devskim-core.yml
  Pipelines/templates/dotnet-test-job.yml
Due: Pipelines/devskim-visualstudio.yml

Formatting
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Assume relative paths constructed with the path argument for fixer
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/FixCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update FixCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/FixCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix fix command
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/FixCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Remove unused usings
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/FixCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/VerifyCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/FixCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/VerifyCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix Test job
  Pipelines/templates/dotnet-test-job.yml
Due: Pipelines/devskim-visualstudio.yml

Update devskim-core.yml
  Pipelines/devskim-core.yml
Due: Pipelines/devskim-visualstudio.yml

Update dotnet-test-job.yml
  Pipelines/templates/dotnet-test-job.yml
Due: Pipelines/devskim-visualstudio.yml

Comment out restore`
  Pipelines/templates/dotnet-test-job.yml
Due: Pipelines/devskim-visualstudio.yml

Revert VS Code Extension to working version
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/package-lock.json
  version.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Cause build for DevSkim DotNet
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Must use 0.8 to deconflict with 0.7 used to fix vscode extension
  version.json
Due: none

Fixes for tests to run
  Pipelines/devskim-core.yml
  Pipelines/templates/dotnet-test-job.yml
Due: Pipelines/devskim-visualstudio.yml

Remove legacy provider
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Update devskim-vscode.yml
  Pipelines/devskim-vscode.yml
Due: Pipelines/devskim-visualstudio.yml

Revert VS Code Extension to working version (#413)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/server/package-lock.json
  Pipelines/devskim-vscode.yml
  version.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Adds Fix Command (#412)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/FixCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/ICommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/RootCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/VerifyCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/FixCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/VerifyCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/Writer.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/WriterFactory.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim/CodeFix.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRule.cs
  DevSkim-DotNet/Microsoft.DevSkim/FixType.cs
  DevSkim-DotNet/Microsoft.DevSkim/IssueRecord.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  Pipelines/devskim-core.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nuget-build-job-framework.yml
  Pipelines/templates/nuget-build-job.yml
  version.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Partially updated and working
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/package-lock.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Remove gulp dependency
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/resetPackageVersion.js
  DevSkim-VSCode-Plugin/setPackageVersion.js
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Remove unused deps
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Adds Dry Run argument to print changes that would be made but not make them
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/FixCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/FixCommandOptions.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix printing original
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/FixCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update Dependencies (VS Code) (#420)
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/resetPackageVersion.js
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
  DevSkim-VSCode-Plugin/setPackageVersion.js
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml
