Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_nix
      displayName: Build Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-visualstudio.yml:
  name: DevSkim_VisualStudio_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_extension
      displayName: Build Visual Studio Extension
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - job: build_vscode_plugin
      displayName: Build VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
  ...

restrict workflows to run on main branch
  .github/workflows/CLI-codeql-analysis.yml
  .github/workflows/VS-codeql-analysis.yml
  .github/workflows/VSCode-codeql-analysis.yml
Due: none

Update RunDevSkim.yml
  .github/workflows/RunDevSkim.yml
Due: none

Update SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Pass relative paths
  .github/workflows/RunDevSkim.yml
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Gfs/fix sarif (#333)
  .github/workflows/CLI-codeql-analysis.yml
  .github/workflows/RunDevSkim.yml
  .github/workflows/VS-codeql-analysis.yml
  .github/workflows/VSCode-codeql-analysis.yml
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim/IssueRecord.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Split scanning workflows
  .github/workflows/RunDevSkimCSharp.yml
  .github/workflows/RunDevSkimVsCode.yml
Due: none

Remove extra comments
  .github/workflows/RunDevSkimCSharp.yml
  .github/workflows/RunDevSkimVsCode.yml
Due: none

Run on PRS
  .github/workflows/RunDevSkimCSharp.yml
  .github/workflows/RunDevSkimVsCode.yml
Due: none

Split scanning workflows (#334)
  .github/workflows/RunDevSkim.yml
  .github/workflows/RunDevSkimCSharp.yml
  .github/workflows/RunDevSkimVsCode.yml
Due: none

Remove incorrect default debug profile.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj.user
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Properties/launchSettings.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Use the Path API for making relative rather than the URI api
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Gfs/fix sarif relative path (#336)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj.user
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Properties/launchSettings.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix path output handling for sarifd when providing a specifc filename to scan
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Add support for "always commented" languages
  DevSkim-DotNet/Microsoft.DevSkim/Comment.cs
  DevSkim-DotNet/Microsoft.DevSkim/Language.cs
  DevSkim-DotNet/Microsoft.DevSkim/Resources/comments.json
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Add Support for languages that are never code (#337)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim/Comment.cs
  DevSkim-DotNet/Microsoft.DevSkim/Language.cs
  DevSkim-DotNet/Microsoft.DevSkim/Resources/comments.json
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Update README.md
  README.md
Due: none

populate more fields for github viewing.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Add option to set base path.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Changing anaalyze command is semver relevant
  version.json
Due: none

Move the options into an options class.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Adds test for the relative path and absolute path features.
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Fix #339
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Fix support for only before and after in validation
  DevSkim-DotNet/Microsoft.DevSkim/WithinOperation.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Make a test for the newly rewritten DS440000
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/RuleProcessorTest.cs
Due: none

Update Language.cs
  DevSkim-DotNet/Microsoft.DevSkim/Language.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml

Adds ability to provide custom root for output relative paths (#338)
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/RuleProcessorTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/Language.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinOperation.cs
  rules/default/security/cryptography/hardcoded_tls.json
  version.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Fix #340
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
Due: Pipelines/devskim-visualstudio.yml

Fix #340 (#341)
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
Due: Pipelines/devskim-visualstudio.yml

Roll back more versions.
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
Due: Pipelines/devskim-visualstudio.yml

Gfs/#340 (#342)
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
Due: Pipelines/devskim-visualstudio.yml

skip DS440000 for shell scripts
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-visualstudio.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode.yml

Should fix #344
  DevSkim-VSCode-Plugin/server/src/utility_classes/document.ts
  DevSkim-VSCode-Plugin/server/src/utility_classes/sourceContext.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode.yml

fix for returning number of issues as a result code
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Path conditions:
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-visualstudio.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
