Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Path conditions:
  Pipelines/cli/devskim-cli-pr.yml: any of: Pipelines/cli/devskim-cli-pr.yml, DevSkim-DotNet, DevSkim-VSCode-Plugin, rules
  Pipelines/cli/devskim-cli-release.yml: any of: DevSkim-DotNet/Microsoft.DevSkim.CLI, DevSkim-DotNet/Microsoft.DevSkim, rules
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-debug.yml: any of: Pipelines/devskim-vscode-debug.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/vs/devskim-visualstudio-pr.yml: any of: Pipelines/vs/devskim-visualstudio-pr.yml, DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/vs/devskim-visualstudio-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/vscode/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules

Fix vscode release manifest generators
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Fix paths
  Pipelines/cli/devskim-cli-release.yml
Due: none

Fix paths
  Pipelines/vs/devskim-visualstudio-release.yml
Due: none

Update ESRP Version
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Fix path
  Pipelines/vs/devskim-visualstudio-release.yml
Due: none

Update devskim-cli-release.yml
  Pipelines/cli/devskim-cli-release.yml
Due: none

Pin to latest templates
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/vs/devskim-visualstudio-pr.yml

Bug bounty test - please ignore.... (svpegs)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Clean up
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Properties/AssemblyInfo.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SuggestionActionsSource.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Fix fixit application to replace correct range
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimSuggestedAction.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update SuggestionActionsSource.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SuggestionActionsSource.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update source.extension.vsixmanifest
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/source.extension.vsixmanifest
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Simplify build
  .gitignore
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Fix potential keynotfound exception
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SuggestionActionsSource.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Rewrite Visual Studio Extension to use Language Server (#471)
  .gitignore
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/CodeFixMapping.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/Messages.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/Microsoft.DevSkim.LanguageProtoInterop.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/CodeFixMapping.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/StaticScannerSettings.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ContentTypes.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimFixMessageTarget.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimSuggestedAction.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/OptionPackage.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/OptionPageGrid.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Properties/AssemblyInfo.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/RuleOptionPageGrid.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/StaticData.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SuggestedActionsSourceProvider.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SuggestionActionsSource.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/source.extension.vsixmanifest
  DevSkim-DotNet/Microsoft.DevSkim.sln
  DevSkim-VSCode-Plugin/client/common/codeFixMapping.ts
  DevSkim-VSCode-Plugin/client/devSkimFixer.ts
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Update Pipelines (#473)
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/devskim-core.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/devskim-vscode.yml
  Pipelines/templates/devskim-pack-rules-steps.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job-framework.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/vs/devskim-visualstudio-pr.yml

Re-enable release tasks
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Re-enable release tasks (#475)
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

wip fixing within operation
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexOperation.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinClause.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinOperation.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Fixes Behavior of Within with multiple clauses
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexOperation.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Add condition to not match Base64 encoded certs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  rules/default/security/cryptography/hardcoded_tls.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix not properly closing stream in Sarif Writer
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Fix including test data in build for tests
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Test fixes for new within implementation
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim/WithinOperation.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Fixes Within Behavior with multiple conditions on rule (#470)
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  DevSkim-DotNet/Microsoft.DevSkim/RuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/Ruleset.cs
  DevSkim-DotNet/Microsoft.DevSkim/ScopedRegexOperation.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinClause.cs
  DevSkim-DotNet/Microsoft.DevSkim/WithinOperation.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update vscode dependencies
  DevSkim-VSCode-Plugin/package-lock.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-release.yml

Update dependencies in DotNet proj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/Microsoft.DevSkim.LanguageProtoInterop.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Improve http rule
  DevSkim-DotNet/Microsoft.DevSkim.Tests/RuleProcessorTest.cs
  rules/default/security/attack_surface/outbound_network.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Improve http rule
  rules/default/security/attack_surface/outbound_network.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Improve http rule (#478)
  DevSkim-DotNet/Microsoft.DevSkim.Tests/RuleProcessorTest.cs
  rules/default/security/attack_surface/outbound_network.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Update tests to test with a domain not just "http://"
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update Dependencies (#477)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/Microsoft.DevSkim.LanguageProtoInterop.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-VSCode-Plugin/package-lock.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Improve http rule (#479)
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
  rules/default/security/attack_surface/outbound_network.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix replacement behavior in VS 2022
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml
