Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Path conditions:
  Pipelines/cli/devskim-cli-release.yml: any file but: *.md
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-debug.yml: any of: Pipelines/devskim-vscode-debug.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/vs/devskim-visualstudio-release.yml: any file but: *.md
  Pipelines/vscode/devskim-vscode-release.yml: any file but: *.md

Fix finding guidance for DevSkim CLI in CI
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add tests to identify rules with missing or incomplete guidance (#613)
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRule.cs
  guidance/DS106864.md
  guidance/DS108647.md
  guidance/DS112835.md
  guidance/DS126858.md
  guidance/DS140021.md
  guidance/DS144886.md
  guidance/DS163877.md
  guidance/DS168931.md
  guidance/DS172411.md
  guidance/DS172412.md
  guidance/DS181865.md
  guidance/DS196098.md
  guidance/DS197800.md
  guidance/DS300001.md
  guidance/DS300005.md
  guidance/DS440000.md
  guidance/DS450000.md
  guidance/DS600100.md
  rules/default/correctness/datetime.json
  rules/default/security/TLS/tls_appconfig.json
  rules/default/security/TLS/tls_appcontext.json
  rules/default/security/TLS/tls_sslprotocol.json
  rules/default/security/cryptography/certificate.json
  rules/default/security/cryptography/ciphers.json
  rules/default/security/cryptography/hash_algorithm.json
  rules/default/security/frameworks/php.json
  rules/default/security/vulnerable_libraries/microsoft_nuget.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for weak random rule
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  guidance/DS148264.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for outdated TLS protocol
  guidance/DS169125.md
  guidance/DS169126.md
  guidance/DS440000.md
  rules/default/security/cryptography/protocol.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for XXE rule
  guidance/DS132779.md
  guidance/DS132780.md
  guidance/DS132790.md
  rules/default/security/xml/external_entities.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for weak cipher mode rule
  guidance/DS182720.md
  guidance/DS187371.md
  rules/default/security/cryptography/weak_cipher_modes.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Point disabled cert validation rules at complete guidance
  guidance/DS101155.md
  guidance/DS134411.md
  rules/default/security/cryptography/general.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for DPAPI entropy rule
  guidance/DS112266.md
  guidance/DS224000.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Use existing HTTPS guidance for Ruby rule
  guidance/DS137038.md
  guidance/DS137138.md
  rules/default/security/attack_surface/outbound_network.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for strncat rule
  guidance/DS108330.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for strncpy rule
  guidance/DS111237.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for 3DES rule
  guidance/DS106864.md
  guidance/DS109501.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for C gets rule
  guidance/DS108330.md
  guidance/DS111237.md
  guidance/DS181021.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for C strcat rule
  guidance/DS108330.md
  guidance/DS140021.md
  guidance/DS141863.md
  guidance/DS181021.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for C strcpy rule
  guidance/DS141863.md
  guidance/DS185832.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for C malloc rule
  guidance/DS161085.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for banned C function rule
  guidance/DS154189.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for InitializeSecurityContext rule
  guidance/DS101159.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for PowerShell restricted function rule
  guidance/DS104456.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for NOT implementing MD5/SHA1 rule
  guidance/DS109733.md
  guidance/DS126858.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for objective-c format string rule
  guidance/DS113286.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for memcpy rule
  guidance/DS121708.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Point C++ TLS version rule to existing guidance
  guidance/DS112835.md
  rules/default/security/cryptography/protocol.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Point .NET outdated SSL rule to general guidance
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  guidance/DS127101.md
  guidance/DS132781.md
  guidance/DS144436.md
  guidance/DS176209.md
  rules/default/security/cryptography/protocol.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for seeding RNG with time rule
  guidance/DS149435.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for mcrypt rules
  guidance/DS128921.md
  guidance/DS175862.md
  guidance/DS188250.md
  guidance/DS440001.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for debug rule
  guidance/DS162092.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for iOS uniqueIdentifier rule
  guidance/DS165348.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for obj-c xss rule
  guidance/DS163877.md
  guidance/DS165746.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for eval XSS rule
  guidance/DS189424.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for hardcoded secret rule
  guidance/DS162092.md
  guidance/DS173237.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for C FILE copy rule
  guidance/DS179924.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for PHP file include rule
  guidance/DS181731.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for ASPNET Controller rule
  guidance/DS184626.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for iOS NSUserDefaults rule
  guidance/DS191340.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for hashing time rule
  guidance/DS197836.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Remove optional encryption rule (applies to unknown tech?)
  rules/default/security/cryptography/certificate.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add test condition that guidance must have content
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Update changelog for guidance changes
  Changelog.md
Due: none
