Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Path conditions:
  Pipelines/cli/devskim-cli-release.yml: any of: DevSkim-DotNet/Microsoft.DevSkim.CLI, DevSkim-DotNet/Microsoft.DevSkim, rules
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-debug.yml: any of: Pipelines/devskim-vscode-debug.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/vs/devskim-visualstudio-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/vscode/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules

Update devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-pr.yml
Due: none

Update VS build pipeline
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
Due: none

Update devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
Due: none

Update VS Code Pipeline
  Pipelines/vscode/devskim-vscode-pr.yml
Due: none

Update template contexts
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vscode/devskim-vscode-pr.yml
Due: none

Remove manifest generation references
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vscode/devskim-vscode-pr.yml
Due: none

Update tag reference
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vscode/devskim-vscode-pr.yml
Due: none

Pipeline Updates (#611)
  Changelog.md
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vscode/devskim-vscode-pr.yml
Due: none

Update devskim-cli-release.yml
  Pipelines/cli/devskim-cli-release.yml
Due: none

Update devskim-visualstudio-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
Due: none

Update devskim-vscode-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Update Changelog.md
  Changelog.md
Due: none

Migrate to New Code Sign Mechanism (#615)
  Changelog.md
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Fix PHP Request Rule Replacements
  rules/default/security/frameworks/php.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix PHP Request Rule (DS144886) Fix It Specification (#616)
  Changelog.md
  rules/default/security/frameworks/php.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add tests to identify rules with missing or incomplete guidance
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRule.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Add guidance for .NET Core advisory 4021279
  guidance/DS300001.md
  rules/default/security/vulnerable_libraries/microsoft_nuget.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for .NET TLS config
  guidance/DS112835.md
  guidance/DS440000.md
  rules/default/security/TLS/tls_appconfig.json
  rules/default/security/TLS/tls_appcontext.json
  rules/default/security/TLS/tls_sslprotocol.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for JS setTimeout rule
  guidance/DS172411.md
Due: none

Also consider guidance with "TO DO" incomplete
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Add guidance for .NET Framework 4.7.2 rule
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  guidance/DS450000.md
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Add guidance for Microsoft.IdentityModel.Tokens rule
  guidance/DS300005.md
  rules/default/security/vulnerable_libraries/microsoft_nuget.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Point DES rules at same guidance
  rules/default/security/cryptography/ciphers.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for unsafe keyword rule
  guidance/DS172412.md
Due: none

Add guidance for weak/broken hash algo rule
  guidance/DS106864.md
  guidance/DS108647.md
  guidance/DS126858.md
  guidance/DS168931.md
  guidance/DS196098.md
  guidance/DS197800.md
  rules/default/security/cryptography/hash_algorithm.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for avoid $_REQUEST rule
  guidance/DS144886.md
  guidance/DS450000.md
Due: none

Add guidance for disabling cert validation rule
  guidance/DS112835.md
  guidance/DS172411.md
  guidance/DS181865.md
  guidance/DS440000.md
  rules/default/security/cryptography/certificate.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for strlen rule
  guidance/DS140021.md
Due: none

Add guidance for PHP XSS rule
  guidance/DS163877.md
  rules/default/security/frameworks/php.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add guidance for Python datetime rule
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  guidance/DS163877.md
  guidance/DS600100.md
  rules/default/correctness/datetime.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add changelog for guidance changes
  Changelog.md
Due: none

Add debug info to guidance tests to troubleshoot CI
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml
