Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Pipelines/cli/devskim-cli-release.yml:
  name: DevSkim_CLI_Release_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    dependsOn: []
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersions:
        - 6.0.x
        - 7.0.x
        - 8.0.x
  ...

Pipelines/devskim-cli-debug.yml:
  name: DevSkim_CLI_Debug_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 7.0.x
        dotnetVersionLTS: 6.0.x
        testImage: windows-latest
  ...

Pipelines/devskim-cli-release.yml:
  name: DevSkim_CLI_Release_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 7.0.x
        dotnetVersionLTS: 6.0.x
        testImage: windows-latest
  ...

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: templates/sdl-job.yml
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    jobs:
    - template: templates/dotnet-publish-linux-mac-job.yml
      parameters:
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-debug.yml:
  name: DevSkim_VSCode_Debug_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: sdl-job.yml@templates
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    dependsOn: []
    jobs:
    - job: build_vscode_plugin
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Update devskim.yml
  .github/workflows/devskim.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Convert release pipelines
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Update Changelog.md
  Changelog.md
Due: none

Fixes
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Comment out triggers
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Convert release pipelines (#621)
  Changelog.md
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix #620
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix #620 (#624)
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Update README.md
  README.md
Due: none

Add exclusion for modern InternalsVisibleTo in SDK-style projects
  rules/default/security/privacy/secrets.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Update secrets.json test
  rules/default/security/privacy/secrets.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix rewriting files with no issues to suppress
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Use MSTest SDK
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  global.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix indentation in global.json
  global.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Respect original newline characters when adding suppression comments
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add tests cases for fixes
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add exclusion for modern InternalsVisibleTo in SDK-style projects (#630)
  Changelog.md
  rules/default/security/privacy/secrets.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Merge change from #628
  README.md
Due: none

Clean up
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Also test multiline case
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix rewriting files with no issues to suppress (#632)
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
  README.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Update repository reference for templates for PR pipelines.
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vscode/devskim-vscode-pr.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Pipeline maintenance
  Changelog.md
Due: none

[False Positive][False Negative] Outdated/Banned SSL/TLS protocols
  rules/default/security/cryptography/protocol.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

add release stage and signing to devskim-cli
  Pipelines/cli/devskim-cli-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

add release stage with signing for VS pipeline
  Pipelines/vs/devskim-visualstudio-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

add release stage with signing for VSCode pipeline
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

update changelog for release pipeline changes
  Changelog.md
Due: none

Testing PR Pipelines
  Pipelines/cli/devskim-cli-pr.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Update devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-pr.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

add release stage with new signing (#650)
  Changelog.md
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

add release publish to nuget and GitHub
  Pipelines/cli/devskim-cli-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

update changelog
  Changelog.md
Due: none

add publish to nuget and GitHub (#652)
  Changelog.md
  Pipelines/cli/devskim-cli-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Path conditions:
  Pipelines/cli/devskim-cli-release.yml: any file but: *.md
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-debug.yml: any of: Pipelines/devskim-vscode-debug.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/vs/devskim-visualstudio-release.yml: any file but: *.md
  Pipelines/vscode/devskim-vscode-release.yml: any file but: *.md
