Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Path conditions:
  Pipelines/cli/devskim-cli-pr.yml: any of: *.md
  Pipelines/cli/devskim-cli-release.yml: any of: DevSkim-DotNet/Microsoft.DevSkim.CLI, DevSkim-DotNet/Microsoft.DevSkim, rules
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-debug.yml: any of: Pipelines/devskim-vscode-debug.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/vs/devskim-visualstudio-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/vscode/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules

Keep new line at the end of a file if it already had one
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Only add suppression message if the line doesnt already contain it
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Remove scanWorkspace command from Extension
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix #554
  DevSkim-VSCode-Plugin/client/extension.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-release.yml

Update Changelog.md
  Changelog.md
Due: Pipelines/cli/devskim-cli-pr.yml

Update devskim.yml
  .github/workflows/devskim.yml
Due: none

Fix #554 (#559)
  Changelog.md
  DevSkim-VSCode-Plugin/client/extension.ts
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-release.yml

Remove scanWorkspace command from Extension (#557)
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-release.yml

Update changelog.md
  Changelog.md
Due: Pipelines/cli/devskim-cli-pr.yml

Working except for for LangaugeRuleIgnoreMap
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/Components/EnumerableConfidenceInput.razor
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/Components/EnumerableSeverityInput.razor
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/Components/EnumerableStringInput.razor
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/wwwroot/index.html
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/wwwroot/saveFile.js
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Options/Options/SerializedAnalyzeCommandOptions.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Add restore to default button
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/AppState.cs
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/Client/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/Components/DictionaryStringListStringInput.razor
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/Components/EnumerableConfidenceInput.razor
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/Components/EnumerableSeverityInput.razor
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/Components/EnumerableStringInput.razor
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/Initializer.cs
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/Pages/Counter.razor
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/Pages/FetchData.razor
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/Pages/Index.razor
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/Shared/NavMenu.razor
  DevSkim-DotNet/Microsoft.DevSkim.BlazorOptionsConfigurator/Shared/SurveyPrompt.razor
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Guidance completion: DS126858
  guidance/DS126858.md
Due: none

Update Dependencies
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-release.yml

Guidance completion: DS126858 (#569)
  guidance/DS126858.md
Due: none

Update Dependencies (#572)
  Changelog.md
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix handling enumerable equality in options configuration
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Add test case to validate fixed enumerable options handling
  DevSkim-DotNet/Microsoft.DevSkim.Tests/OptionsTests.cs
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Add JsonStringEnumConverter to deserializing options
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Add a github action check to ensure the changelog has been updated on PR
  .github/workflows/changelog.yml
Due: none

Update Dependencies
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Fix handling enumerable equality in options configuration (#574)
  .github/workflows/changelog.yml
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/OptionsTests.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Fix #549
  rules/default/security/cryptography/protocol.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix #548
  rules/default/security/privacy/secrets.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix #344
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Fix False Positives (#575)
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  rules/default/security/cryptography/protocol.json
  rules/default/security/privacy/secrets.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Run Update Settings Generator Manually
  DevSkim-DotNet/ManualGenerator/ManualUpdateSettingsGenerator.csproj
  DevSkim-DotNet/ManualGenerator/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/VisualStudioSettingsManager.cs
  DevSkim-DotNet/Microsoft.DevSkim.sln
Due: Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Fix #576 (#577)
  Changelog.md
  DevSkim-DotNet/ManualGenerator/ManualUpdateSettingsGenerator.csproj
  DevSkim-DotNet/ManualGenerator/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/VisualStudioSettingsManager.cs
  DevSkim-DotNet/Microsoft.DevSkim.sln
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Exclude xmlnx:xsi
  rules/default/security/attack_surface/outbound_network.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix typo in self-test
  rules/default/security/attack_surface/outbound_network.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-release.yml
