Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Path conditions:
  Pipelines/cli/devskim-cli-pr.yml: any of: Pipelines/cli/devskim-cli-pr.yml, DevSkim-DotNet, DevSkim-VSCode-Plugin, rules
  Pipelines/cli/devskim-cli-release.yml: any of: DevSkim-DotNet/Microsoft.DevSkim.CLI, DevSkim-DotNet/Microsoft.DevSkim, rules
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-debug.yml: any of: Pipelines/devskim-vscode-debug.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/vs/devskim-visualstudio-pr.yml: any of: Pipelines/vs/devskim-visualstudio-pr.yml, DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/vs/devskim-visualstudio-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/vscode/devskim-vscode-pr.yml: any of: Pipelines/vscode/devskim-vscode-pr.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/vscode/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules

Rename gallery
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/readme-gallery.md
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update vs-manifest.json
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/vs-manifest.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update devskim-visualstudio-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
Due: none

Update license references for csproj's
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/Microsoft.DevSkim.LanguageProtoInterop.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Try add icon and license file
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/License.txt
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/devskim.ico
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update source.extension.vsixmanifest
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/source.extension.vsixmanifest
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Fix content root in csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Add configuration parsing forking to language server
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/source.extension.vsixmanifest
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Try restore other icons
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/devskim-icon-128.png
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/devskim-icon-200.png
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/devskim-icon-32.png
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/source.extension.vsixmanifest
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Validate version is expected format before calling npm version
  DevSkim-VSCode-Plugin/scripts/setPackageVersion.js
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Update Description
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/source.extension.vsixmanifest
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Rename publish manifest
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/publish.manifest.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Re-disable configuration
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Fix icons
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/devskim-icon-128.png
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Fix output file location handling in sarif writer
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  README.md
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Rename command from suppressions to suppress
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/SuppressionCommandOptions.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update explanations for parameters to Analyze Fix and Suppress
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/FixCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/SuppressionCommandOptions.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Re-enable release tasks
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Update Project Metadata & Pipelines (#483)
  DevSkim-DotNet/Content/devskim-icon-200.png
  DevSkim-DotNet/Content/devskim-icon-32.png
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/AnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/FixCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/SuppressionCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/Microsoft.DevSkim.LanguageProtoInterop.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/License.txt
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/devskim-icon-200.png
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/devskim-icon-32.png
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/devskim.ico
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/readme-gallery.md
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/publish.manifest.json
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/source.extension.vsixmanifest
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/scripts/resetPackageVersion.js
  DevSkim-VSCode-Plugin/scripts/setPackageVersion.js
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
  README.md
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Update vs categories
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/publish.manifest.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Remove preview flags
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/source.extension.vsixmanifest
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Update devskim-vscode-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Fix release version being set
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Fix Pipeline Release Versioning (#485)
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Fix marketplace manifest properties (#484)
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/publish.manifest.json
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/source.extension.vsixmanifest
  DevSkim-VSCode-Plugin/package.json
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Update publish.manifest.json
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/publish.manifest.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update publish.manifest.json (#486)
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/publish.manifest.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update source.extension.vsixmanifest (#487)
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/source.extension.vsixmanifest
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update Dependencies
  .gitignore
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/server/package-lock.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Update Dependencies (#488)
  .gitignore
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/server/package-lock.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Update source.extension.vsixmanifest (#489)
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/source.extension.vsixmanifest
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml
