Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-release.yml

Path conditions:
  Pipelines/cli/devskim-cli-release.yml: any file but: *.md
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-debug.yml: any of: Pipelines/devskim-vscode-debug.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/vscode/devskim-vscode-release.yml: any file but: *.md

Update Changelog.md
  Changelog.md
Due: none

add vscode ext release to github and marketplace
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vscode/devskim-vscode-release.yml

update changelog
  Changelog.md
Due: none

add vscode ext release to github and marketplace (#653)
  Changelog.md
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vscode/devskim-vscode-release.yml

copy package.json to staging directory
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vscode/devskim-vscode-release.yml

add release vs prerelease publishing
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vscode/devskim-vscode-release.yml

add release vs prerelease publishing (#655)
  Changelog.md
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vscode/devskim-vscode-release.yml

add publish to VS marketplace and GitHub
  Pipelines/vs/devskim-visualstudio-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vscode/devskim-vscode-release.yml

add publish to VS marketplace and GitHub (#656)
  Changelog.md
  Pipelines/vs/devskim-visualstudio-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Put correct version in changelog
  Changelog.md
Due: none

Update VS Code Extension Dependencies
  DevSkim-VSCode-Plugin/package-lock.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-release.yml

Update changelog.
  Changelog.md
Due: none

Update VS Code Dependencies (#657)
  Changelog.md
  DevSkim-VSCode-Plugin/package-lock.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-release.yml

[False Positive][False Negative] Outdated/Banned SSL/TLS protocols (#649)
  Changelog.md
  rules/default/security/cryptography/protocol.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix incorrect inversion in LanguageRuleMap codepath
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vscode/devskim-vscode-release.yml

Improve option operation tests
  DevSkim-DotNet/Microsoft.DevSkim.Tests/OptionsTests.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add Include Globs option. When specified, only files that match one of the include globs and that don't match one of the exclude globs are scanned.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/BaseAnalyzeCommandOptions.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vscode/devskim-vscode-release.yml

New test cases for glob options.
  DevSkim-DotNet/Microsoft.DevSkim.Tests/OptionsTests.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Rename glob options to reflect that there are two glob arguments.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/BaseAnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/OptionsTests.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vscode/devskim-vscode-release.yml

Rename DenyGlobs back to original Globs to avoid breaking change when using options-json argument.
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/BaseAnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/OptionsTests.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix LanguageRuleIgnoreMap and Add Positive Globs (#665)
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/BaseAnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/OptionsTests.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix confidence filter at rule level.
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleSet.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vscode/devskim-vscode-release.yml

Update .gitignore
  .gitignore
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add tests for rule level confidence filtering
  DevSkim-DotNet/Microsoft.DevSkim.Tests/OptionsTests.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleSet.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vscode/devskim-vscode-release.yml

Clarify Doc comment on WithConfidenceFilter method Update options tests to account for unspecified behavior (its the 0 value for the enum flag so always passes the check).
  DevSkim-DotNet/Microsoft.DevSkim.Tests/OptionsTests.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleSet.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix Confidence Filter at Rule Level (#672)
  .gitignore
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.Tests/OptionsTests.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleSet.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vscode/devskim-vscode-release.yml

Update Dependencies and Net Targets
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/Microsoft.DevSkim.LanguageProtoInterop.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio.SourceGenerator/Microsoft.DevSkim.VisualStudio.SourceGenerator.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  Directory.Build.props
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vscode/devskim-vscode-release.yml

Also install .net 9.0 sdk in vs code pipeline to fix build issue in pipeline
  DevSkim-VSCode-Plugin/package-lock.json
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-release.yml

Update Dependencies and Net Targets (#678)
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/Microsoft.DevSkim.LanguageProtoInterop.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio.SourceGenerator/Microsoft.DevSkim.VisualStudio.SourceGenerator.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-VSCode-Plugin/package-lock.json
  Directory.Build.props
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-release.yml

Migrate to MTP from VSTest
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.sln
  Directory.Build.props
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Rename DS106864.md to DS106863.md
  guidance/DS106863.md
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/vscode/devskim-vscode-release.yml

Add a privacy link to the Readme
  Changelog.md
  README.md
Due: none

Add a privacy link to the Readme (#682)
  Changelog.md
  README.md
Due: none
