Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Pipelines/cli/devskim-cli-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 6.0.x
        dotnetVersionLTS: 6.0.x
        vmImage: oss-tools-win2022_1es-managed
  ...

Pipelines/cli/devskim-cli-release.yml:
  name: DevSkim_CLI_Release_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 6.0.x
        dotnetVersionLTS: 6.0.x
        vmImage: oss-tools-win2022_1es-managed
  ...

Pipelines/devskim-cli-debug.yml:
  name: DevSkim_CLI_Debug_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 7.0.x
        dotnetVersionLTS: 6.0.x
        testImage: windows-latest
  ...

Pipelines/devskim-cli-release.yml:
  name: DevSkim_CLI_Release_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 7.0.x
        dotnetVersionLTS: 6.0.x
        testImage: windows-latest
  ...

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: templates/sdl-job.yml
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    jobs:
    - template: templates/dotnet-publish-linux-mac-job.yml
      parameters:
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-debug.yml:
  name: DevSkim_VSCode_Debug_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: sdl-job.yml@templates
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    dependsOn: []
    jobs:
    - job: build_vscode_plugin
  ...

Remove unneeded reference to system.text.json
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Formatting
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/FixCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/VerifyCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/JsonWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SimpleTextWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/WriterFactory.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimSuggestedAction.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SuggestionActionsSource.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleSet.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleVerifier.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Resolve language server not closing when VS quits
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ProcessTracker/IProcessTracker.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ProcessTracker/IWindowEventsListener.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ProcessTracker/JobObjectProcessTracker.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ProcessTracker/NativeMethods.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ProcessTracker/SafeObjectHandle.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ProcessTracker/WindowEventArgs.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ProcessTracker/WindowEventsListener.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ProcessTracker/WindowsSystemEvents.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SafeObjectHandle.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SuggestionActionsSource.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessor.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Remove debugger stop
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Fix Language Server behavior
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/ConfigHelpers.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-VSCode-Plugin/client/devSkimFixer.ts
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Fixes for suppression comment style
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessor.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Fix the two different calling patterns for generate suppression
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/SuppressionCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessor.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Fixes suppression class capturing reviewer name when present
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
  DevSkim-DotNet/Microsoft.DevSkim/Suppression.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update FixCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/FixCommandOptions.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Fix release tags for vs & vsc
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Fix release tags for vs & vsc (#482)
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Fix Replacement Behavior (#480)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/FixCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/SuppressionCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/VerifyCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/FixCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/SuppressionCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/JsonWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SimpleTextWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/WriterFactory.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/ConfigHelpers.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/AnalyzeTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/DefaultRulesTests.cs
  DevSkim-DotNet/Microsoft.DevSkim.Tests/SuppressionsTest.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimSuggestedAction.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ProcessTracker/IProcessTracker.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ProcessTracker/IWindowEventsListener.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ProcessTracker/JobObjectProcessTracker.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ProcessTracker/NativeMethods.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ProcessTracker/SafeObjectHandle.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ProcessTracker/WindowEventArgs.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ProcessTracker/WindowEventsListener.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ProcessTracker/WindowsSystemEvents.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SafeObjectHandle.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SuggestionActionsSource.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessor.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleSet.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleVerifier.cs
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Suppression.cs
  DevSkim-VSCode-Plugin/client/devSkimFixer.ts
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Update devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-pr.yml
Due: Pipelines/cli/devskim-cli-pr.yml

Update devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-pr.yml
Due: Pipelines/vscode/devskim-vscode-pr.yml

Update devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
Due: Pipelines/vs/devskim-visualstudio-pr.yml

Update Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update devskim-cli-release.yml
  Pipelines/cli/devskim-cli-release.yml
Due: none

Update devskim-vscode-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Update devskim-visualstudio-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
Due: none

update esrp task version
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Make pre-release more obvious
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Update client to 1.63
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Update pipeline, content, manifest
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Content/readme-gallery.txt
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/source.extension.vsixmanifest
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/vs-manifest.json
  Pipelines/vs/devskim-visualstudio-release.yml
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update set package version to set simple version
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/scripts/setPackageVersion.js
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Update package.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Tweaks to package.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/scripts/resetPackageVersion.js
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Remove old manifest
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/vs-manifest.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Copy icon to extension content
  DevSkim-DotNet/Content/devskim-icon-32.png
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Create devskim-icon-200.png
  DevSkim-DotNet/Content/devskim-icon-200.png
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update source.extension.vsixmanifest
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/source.extension.vsixmanifest
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Revert "Remove old manifest"
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/vs-manifest.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-release.yml

Path conditions:
  Pipelines/cli/devskim-cli-pr.yml: any of: Pipelines/cli/devskim-cli-pr.yml, DevSkim-DotNet, DevSkim-VSCode-Plugin, rules
  Pipelines/cli/devskim-cli-release.yml: any of: DevSkim-DotNet/Microsoft.DevSkim.CLI, DevSkim-DotNet/Microsoft.DevSkim, rules
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-debug.yml: any of: Pipelines/devskim-vscode-debug.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/vs/devskim-visualstudio-pr.yml: any of: Pipelines/vs/devskim-visualstudio-pr.yml, DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VSExtension, rules
  Pipelines/vs/devskim-visualstudio-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/vscode/devskim-vscode-pr.yml: any of: Pipelines/vscode/devskim-vscode-pr.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/vscode/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
