Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Path conditions:
  Pipelines/cli/devskim-cli-pr.yml: any of: Pipelines/cli/devskim-cli-pr.yml, DevSkim-DotNet, DevSkim-VSCode-Plugin, rules
  Pipelines/cli/devskim-cli-release.yml: any of: DevSkim-DotNet/Microsoft.DevSkim.CLI, DevSkim-DotNet/Microsoft.DevSkim, rules
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-debug.yml: any of: Pipelines/devskim-vscode-debug.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/vs/devskim-visualstudio-pr.yml: any of: Pipelines/vs/devskim-visualstudio-pr.yml, DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VisualStudio, rules
  Pipelines/vs/devskim-visualstudio-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/vscode/devskim-vscode-pr.yml: any of: Pipelines/vscode/devskim-vscode-pr.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/vscode/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules

Update AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Small fixes
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimSuggestedAction.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SuggestedActionsSourceProvider.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Remove unused contenttypes.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ContentTypes.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Remove extra usings
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimSuggestedAction.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Options/GeneralOptionsPage.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SettingsChangedNotifier.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/StaticData.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SuggestionActionsSource.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/VisualStudioSettingsManager.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Clean up
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Rev version to 1.0, remove alpha flag (#528)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Commands/AnalyzeCommand.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ContentTypes.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimSuggestedAction.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Options/GeneralOptionsPage.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SettingsChangedNotifier.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/StaticData.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SuggestedActionsSourceProvider.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SuggestionActionsSource.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/VisualStudioSettingsManager.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessor.cs
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
  version.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-pr.yml

Test devskim action
  .github/workflows/dotnet-desktop.yml
Due: none

Update dotnet-desktop.yml
  .github/workflows/dotnet-desktop.yml
Due: none

Try fix missing Help.Text parameter when Recommendation and Description are both empty
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Try fix missing Help.Text parameter when Recommendation and Description are both empty (#530)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

More comprehensive fix
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Also catch case where the recommendation is empty string (#532)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Testing DevSkim Action
  .github/workflows/devskim.yml
Due: none

Filter fixes by applicability for sarif
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Use HashSet for holding fixes
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Convert Rule names to Sarif format names
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Filter potentially duplicate fixes in sarif output (#534)
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Create Changelog.md
  Changelog.md
Due: none

Dont run release on markdown only changes.
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
Due: Pipelines/cli/devskim-cli-pr.yml

Update Changelog.md
  Changelog.md
Due: none

Update devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-pr.yml
Due: Pipelines/cli/devskim-cli-pr.yml

Dont publish builds for just MD changes
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Support Ignore Case and Multiline Arguments to Fix Patterns
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessor.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Add note about VSC engine version
  Changelog.md
Due: none

Catch potential exceptions when constructing regex for fixes
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessor.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Complete fix for failure fix regexes
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessor.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Create Changelog.md (#537)
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SarifWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim/DevSkimRuleProcessor.cs
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Create devskim-cli-test.yml
  Pipelines/cli/devskim-cli-test.yml
Due: none

on pr
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-test.yml
Due: Pipelines/cli/devskim-cli-pr.yml

Update README.md
  README.md
Due: none

Update CodeFix.cs
  DevSkim-DotNet/Microsoft.DevSkim/CodeFix.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update devskim-cli-release.yml
  Pipelines/cli/devskim-cli-release.yml
Due: none
