Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Path conditions:
  Pipelines/cli/devskim-cli-pr.yml: any of: Pipelines/cli/devskim-cli-pr.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-debug.yml: any of: Pipelines/devskim-vscode-debug.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules

Tidying
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ContentTypes.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Basic diagnostic functionality working on VS 2022
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Program.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/StaticScannerSettings.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/ContentTypes.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/OptionPackage.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/OptionPageGrid.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Properties/AssemblyInfo.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/RuleOptionPageGrid.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/source.extension.vsixmanifest
  DevSkim-DotNet/Microsoft.DevSkim.sln
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

WIP adding CodeFixes
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/CodeFixMapping.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/Messages.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/Microsoft.DevSkim.LanguageProtoInterop.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.sln
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Add server listener for codefixmappings
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/CodeFixMapping.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimFixMessageTarget.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

WIP storing transmitted fixes and presenting them with lightbulb
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimFixMessageTarget.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SuggestedActionsSourceProvider.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SuggestionActionsSource.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Fix ingestion of code fix mappings
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimFixMessageTarget.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Implement lightbulb fixes
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/CodeFixMapping.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimFixMessageTarget.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimLanguageClient.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimSuggestedAction.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/StaticData.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SuggestionActionsSource.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Update template ref
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
Due: Pipelines/cli/devskim-cli-pr.yml

Fix properly adding suppressions to end of line in VS
  DevSkim-DotNet/Microsoft.DevSkim.LanguageProtoInterop/CodeFixMapping.cs
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/TextDocumentSyncHandler.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/DevSkimSuggestedAction.cs
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/SuggestionActionsSource.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Fixes for VS Code replacements
  DevSkim-VSCode-Plugin/client/common/codeFixMapping.ts
  DevSkim-VSCode-Plugin/client/devSkimFixer.ts
Due: Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Bump other refs
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Update Pipelines
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-pr.yml

Add new pipelines
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-pr.yml

Remove old templates
  Pipelines/templates/devskim-pack-rules-steps.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job-framework.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
Due: none

Update devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-pr.yml
Due: Pipelines/cli/devskim-cli-pr.yml

Update devskim-cli-release.yml
  Pipelines/cli/devskim-cli-release.yml
Due: none

Delete devskim-core.yml
  Pipelines/devskim-core.yml
Due: none

Update devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-pr.yml
Due: none

Update devskim-vscode-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Delete devskim-vscode.yml
  Pipelines/devskim-vscode.yml
Due: none

Update devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
Due: none

Try old way
  Pipelines/vs/devskim-visualstudio-pr.yml
Due: none

Retry template
  Pipelines/vs/devskim-visualstudio-pr.yml
Due: none

Update paths and refs
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-pr.yml

Finish VS release pipeline
  Pipelines/vs/devskim-visualstudio-release.yml
Due: none

Delete old pipeline
  Pipelines/devskim-visualstudio.yml
Due: none

Minor updates
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-pr.yml

Update targetFramework name
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
Due: Pipelines/cli/devskim-cli-pr.yml

Temp disable release tasks
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: none

Add pre-test rule pack step to cli release
  Pipelines/cli/devskim-cli-release.yml
Due: none
