Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Pipelines/cli/devskim-cli-pr.yml:
  name: DevSkim_CLI_Release_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    dependsOn: []
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 7.0.x
        dotnetVersionLTS: 6.0.x
  ...

Pipelines/cli/devskim-cli-release.yml:
  name: DevSkim_CLI_Release_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 6.0.x
        dotnetVersionLTS: 6.0.x
        vmImage: oss-tools-win2022_1es-managed
  ...

Pipelines/devskim-cli-debug.yml:
  name: DevSkim_CLI_Debug_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 7.0.x
        dotnetVersionLTS: 6.0.x
        testImage: windows-latest
  ...

Pipelines/devskim-cli-release.yml:
  name: DevSkim_CLI_Release_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 7.0.x
        dotnetVersionLTS: 6.0.x
        testImage: windows-latest
  ...

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: templates/sdl-job.yml
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    jobs:
    - template: templates/dotnet-publish-linux-mac-job.yml
      parameters:
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-debug.yml:
  name: DevSkim_VSCode_Debug_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: sdl-job.yml@templates
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    dependsOn: []
    jobs:
    - job: build_vscode_plugin
  ...

Update CodeFix.cs
  DevSkim-DotNet/Microsoft.DevSkim/CodeFix.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-pr.yml
Due: Pipelines/cli/devskim-cli-pr.yml

Update devskim-cli-pr.yml for Azure Pipelines
  Pipelines/cli/devskim-cli-pr.yml
Due: Pipelines/cli/devskim-cli-pr.yml

Update README.md
  README.md
Due: none

disable releases while testing
  Pipelines/cli/devskim-cli-release.yml
Due: Pipelines/cli/devskim-cli-pr.yml

Update Changelog.md
  Changelog.md
Due: none

Update Changelog.md
  Changelog.md
  Pipelines/cli/devskim-cli-pr.yml
Due: Pipelines/cli/devskim-cli-pr.yml

exc
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vscode/devskim-vscode-pr.yml
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vscode/devskim-vscode-pr.yml

Should trigger
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Program.cs
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-release.yml

Fix pipeline trigger path excludes
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-pr.yml

Fix pipeline trigger path excludes (#542)
  Changelog.md
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-pr.yml

Adding recommendations and fixits
  rules/default/security/frameworks/android.json
  rules/default/security/xml/xslt_scripting.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Add DS440001.md: crypto agility
  guidance/DS440001.md
  rules/default/security/TLS/tls_generic.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix #546
  rules/default/security/cryptography/hash_algorithm.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Fix regex typo in android rule & must-match fields
  rules/default/security/frameworks/android.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Pin to latest templates
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vscode/devskim-vscode-pr.yml

Fix NuGet Package Multitarget (#550)
  Changelog.md
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vscode/devskim-vscode-pr.yml

Add Changelog entry, Fix 546
  Changelog.md
  rules/default/security/cryptography/hash_algorithm.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Specify Namespaces compatible with App Inspector Rule Engine Update
  rules/default/security/frameworks/android.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Update Dependencies
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio.SourceGenerator/Microsoft.DevSkim.VisualStudio.SourceGenerator.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Update AI and Sarif Dependencies
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml

Improving rule accuracy (#523)
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio.SourceGenerator/Microsoft.DevSkim.VisualStudio.SourceGenerator.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  guidance/DS132781.md
  guidance/DS440001.md
  rules/default/security/TLS/tls_generic.json
  rules/default/security/cryptography/hardcoded_tls.json
  rules/default/security/cryptography/hash_algorithm.json
  rules/default/security/frameworks/android.json
  rules/default/security/xml/xslt_scripting.json
Due: Pipelines/cli/devskim-cli-pr.yml, Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml, Pipelines/vs/devskim-visualstudio-pr.yml, Pipelines/vs/devskim-visualstudio-release.yml, Pipelines/vscode/devskim-vscode-pr.yml, Pipelines/vscode/devskim-vscode-release.yml

Path conditions:
  Pipelines/cli/devskim-cli-pr.yml: any file but: *.md
  Pipelines/cli/devskim-cli-release.yml: any of: DevSkim-DotNet/Microsoft.DevSkim.CLI, DevSkim-DotNet/Microsoft.DevSkim, rules
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-debug.yml: any of: Pipelines/devskim-vscode-debug.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/vs/devskim-visualstudio-pr.yml: any of: Pipelines/vs/devskim-visualstudio-pr.yml, DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.VisualStudio, rules
  Pipelines/vs/devskim-visualstudio-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/vscode/devskim-vscode-pr.yml: any of: Pipelines/vscode/devskim-vscode-pr.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/vscode/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
