Repository microsoft/DevSkim: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Pipelines/cli/devskim-cli-release.yml:
  name: DevSkim_CLI_Release_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    dependsOn: []
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersions:
        - 6.0.x
        - 7.0.x
        - 8.0.x
  ...

Pipelines/devskim-cli-debug.yml:
  name: DevSkim_CLI_Debug_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 7.0.x
        dotnetVersionLTS: 6.0.x
        testImage: windows-latest
  ...

Pipelines/devskim-cli-release.yml:
  name: DevSkim_CLI_Release_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: dotnet-test-job.yml@templates
      parameters:
        jobName: dotnet_test_windows
        dotnetVersion: 7.0.x
        dotnetVersionLTS: 6.0.x
        testImage: windows-latest
  ...

Pipelines/devskim-core-pr.yml:
  name: DevSkim_CLI_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish_nix
      displayName: Publish Linux & Mac
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.100
  ...

Pipelines/devskim-core.yml:
  name: DevSkim_CLI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: templates/sdl-job.yml
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    jobs:
    - template: templates/dotnet-publish-linux-mac-job.yml
      parameters:
  ...

Pipelines/devskim-vscode-ci.yml:
  name: DevSkim_VSCode_CI_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Pipelines/devskim-vscode-debug.yml:
  name: DevSkim_VSCode_Debug_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: SDL
    jobs:
    - template: sdl-job.yml@templates
      parameters:
        serviceTreeID: 9792b8d3-bc2c-432c-8fc9-bdb143552208
  - stage: Build
    dependsOn: []
    jobs:
    - job: build_vscode_plugin
  ...

Pipelines/devskim-vscode-pr.yml:
  name: DevSkim_VSCode_PR_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Publish
    jobs:
    - job: publish
      displayName: Publish VSCode Plugin
      pool:
        vmImage: windows-latest
      steps:
      - task: Npm@1
        displayName: npm install
        inputs:
          command: install
  ...

Update DevSkim .NET Dependencies
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio.SourceGenerator/Microsoft.DevSkim.VisualStudio.SourceGenerator.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update VS Code Extension Dependencies
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Update Changelog.md
  Changelog.md
Due: none

Update Dependencies (#683)
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim.LanguageServer/Microsoft.DevSkim.LanguageServer.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio.SourceGenerator/Microsoft.DevSkim.VisualStudio.SourceGenerator.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VisualStudio/Microsoft.DevSkim.VisualStudio.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Update Application Inspector
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Update changelog
  Changelog.md
Due: none

Update Application Inspector Lib Dependency (#685)
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Microsoft.DevSkim.CLI.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Migrate to MTP from VSTest (#679)
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.sln
  Directory.Build.props
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml

Fix capitalization in tsconfig
  DevSkim-VSCode-Plugin/client/tsconfig.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Try to fix handling of non-ascii characters
  DevSkim-VSCode-Plugin/client/extension.ts
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Refine pack-ext task definition
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Npm Audit fix
  DevSkim-VSCode-Plugin/package-lock.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Fix Missing VSCE Dependency
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Try Fix Launching with non-Ascii characters in path to Language Server (#688)
  Changelog.md
  DevSkim-VSCode-Plugin/client/extension.ts
  DevSkim-VSCode-Plugin/client/tsconfig.json
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Add MSBuild Diagnostic Format Output Option
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/BaseAnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SimpleTextWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/WriterFactory.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Add MSBuild Diagnostic Format Output Option (#689)
  Changelog.md
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Options/BaseAnalyzeCommandOptions.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/SimpleTextWriter.cs
  DevSkim-DotNet/Microsoft.DevSkim.CLI/Writers/WriterFactory.cs
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-cli-debug.yml, Pipelines/devskim-cli-release.yml, Pipelines/devskim-core-pr.yml, Pipelines/devskim-core.yml

Removes non-functional doc publish workflow
  .github/workflows/publish-api-docs.yml
Due: Pipelines/cli/devskim-cli-release.yml

Removes non-functional doc publish workflow (#691)
  .github/workflows/publish-api-docs.yml
  Changelog.md
Due: Pipelines/cli/devskim-cli-release.yml

Move GitHub Release tasks to separate explicitly release jobs
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml

Fix output signed binaries name for consistency
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml

Move GitHub Release tasks to separate explicitly release jobs (#692)
  Changelog.md
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml

Consume nuget.config in azure for CLI and VS builds
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
  nuget.config.azure
Due: Pipelines/cli/devskim-cli-release.yml

Add new scripts/tasks to authenticate npm packages for vs code build
  DevSkim-VSCode-Plugin/.npmrc
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/scripts/updatePackageLock.js
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Add nuget authenticate for building language server
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml

Move task to right spot
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml

Change to pipeline-pack in pipeline
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml

Consume nuget.config in azure for CLI and VS builds and npmrc and nuget.config for vscode build (#694)
  Changelog.md
  DevSkim-VSCode-Plugin/.npmrc
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/scripts/updatePackageLock.js
  Pipelines/cli/devskim-cli-pr.yml
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-pr.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-pr.yml
  Pipelines/vscode/devskim-vscode-release.yml
  nuget.config.azure
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

change release pipeline to use same templates as PR pipeline
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  Pipelines/vscode/devskim-vscode-release.yml
Due: Pipelines/cli/devskim-cli-release.yml

update changelog
  Changelog.md
Due: none

add standard VS entries to .gitignore
  .gitignore
Due: Pipelines/cli/devskim-cli-release.yml

add nuget config for release pipeline
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  nuget.release.config
Due: Pipelines/cli/devskim-cli-release.yml

add nuget config for release pipeline (#696)
  .gitignore
  Changelog.md
  Pipelines/cli/devskim-cli-release.yml
  Pipelines/vs/devskim-visualstudio-release.yml
  nuget.release.config
Due: Pipelines/cli/devskim-cli-release.yml

Bumps npm dependencies
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/package-lock.json
Due: Pipelines/cli/devskim-cli-release.yml, Pipelines/devskim-vscode-ci.yml, Pipelines/devskim-vscode-debug.yml, Pipelines/devskim-vscode-pr.yml, Pipelines/devskim-vscode-release.yml, Pipelines/devskim-vscode.yml

Path conditions:
  Pipelines/cli/devskim-cli-release.yml: any file but: *.md
  Pipelines/devskim-cli-debug.yml: any of: Pipelines/devskim-cli-debug.yml, DevSkim-DotNet, rules
  Pipelines/devskim-cli-release.yml: any of: DevSkim-DotNet, rules
  Pipelines/devskim-core-pr.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-core.yml: any of: DevSkim-DotNet/Microsoft.DevSkim, DevSkim-DotNet/Microsoft.DevSkim.CLI, rules
  Pipelines/devskim-vscode-ci.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-debug.yml: any of: Pipelines/devskim-vscode-debug.yml, DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode-pr.yml: any of: DevSkim-VSCode-Plugin
  Pipelines/devskim-vscode-release.yml: any of: DevSkim-VSCode-Plugin, rules
  Pipelines/devskim-vscode.yml: any of: DevSkim-VSCode-Plugin, rules
